<h2>Выслать повторно инструкции для подтверждения аккаунта</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Выслать" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
