<% if resource.errors.any? %>

  $('#registration input[id^=reg]').removeClass('r_error');
  $('.all_reg_errors > div.reg_error').remove();

  <% resource.errors.each do |k,error| %>
    // <%= error %>
     $('#reg_<%= k %>').addClass('r_error');
     $('.all_reg_errors').prepend('<div class="reg_error"> <%= escape_javascript( error ) %> <%=t k, :scope => 'activerecord.attributes.user'  %> </div>');
  <% end %>

<% else %>


  $('#registration .reg_block').hide();
  $('#registration .hint').show();
  //$('.all_reg_errors .reg_error').remove();

<% end %>
