%h1= @shop.title || 'новый магазин'
%br
.shop_info
  .u_subtitle Информация о магазине
  =form_for [:admin,@shop] do |f|
    -@shop.errors.full_messages.each do |msg|
      %li= msg
    %dl
      %dt
        %label Название
      %dd
        =f.text_field :title, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "1"
    %dl
      %dt
        %label Адрес
      %dd
        =f.text_area :address, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "2", :rows => 2
    %dl
      %dt
        %label Время работы
      %dd
        =f.text_area :time, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "3"
    %dl
      %dt
        %label Описание
      %dd
        =f.text_area :description, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "4", :rows => 10
    %dl
      %dt
        %label Изображение карты
      %dd
        =f.file_field :map, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "5"
        =f.hidden_field :map_cache
    -if @shop.map?
      %dl
        %dt
          %label Удалить
        %dd
          =f.check_box :remove_map
          =image_tag(@shop.map_url)
    %dl
      %dt
        %label Телефон
      %dd
        =f.text_field :phone, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "4"
    .submit_btn
      =f.submit :value => 'сохранить', :tabindex => "5", :disable_with => 'сохранить'
    -unless @shop.new_record?
      .shop_delete
        =link_to 'Удалить позицию', admin_shop_path(@shop), :method => :delete, :confirm => 'Точно удалить?'
-unless @shop.new_record?
  .shop_calendar
    .u_subtitle Время приема на снятие мерок
    #datepicker1
  .shop_calendar_info
