:javascript
  function go_next_date(date) {
    $('#datepicker1').datepicker('setDate', date);
    load_measures(date)
    return false
  }

.month
  %a.m_arrow_left{:href => "#", :onclick => "return go_next_date('#{l @date - 1.day}')" }
  =l @date, :format => :short
  %a.m_arrow_right{:href => "#", :onclick => "return go_next_date('#{l @date + 1.day}')" }
- @measures.each do |m|
  .select_time.enabled
    .datatime= "%02i:00 - %02i:00" % [m.at.hour,m.at.hour+1]
    .u_options
      =link_to 'свободно', admin_shop_measure_setbusy_path(:id => m.id, :busy => false), :remote => true, :method => :post, :class => m.isbusy ? '' : 'u_active_link'
      =link_to 'забронировано', admin_shop_measure_setbusy_path(:id => m.id, :busy => true), :remote => true, :method => :post, :class => m.isbusy ? 'u_active_link' : ''
    .time_client{ :style => m.user_name && m.isbusy ? '' : 'display:none' }
      Клиент:
      %a{:href => "#" , :onclick => "$(this).closest('.select_time').find('.time_client').hide(); $(this).closest('.select_time').find('.input_client').show();", :title => "#{m.user_name}, #{m.phone}" }= m.user_name
    =form_tag admin_shop_measure_set_username_path, :remote => true,:style => 'display: inline' do
      .input_client{ :style => !m.user_name && m.isbusy ? '' : 'display:none' }
        =hidden_field_tag :id, m.id
        %input{:name => "user_name", :type => "text", :id => "shop_client#{m.id}", :class => 'search-field',
          :value => "#{m.user_name || 'Введите имя или e-mail'}",
          :onfocus => 'if (this.value=="Введите имя или e-mail") {this.value=""; this.className="selected"}',
          :onblur => 'if (this.value=="") {this.value="Введите имя или e-mail"; this.className="search-field";}'}
        %a{:href => "", :onclick => "if ($(this).prev().val()=='Введите имя или e-mail') {$(this).prev().val('').addClass('selected')}; $(this).closest('form').submit(); return false" } добавить
