=content_for :head do
  :javascript
    function load_measures(date) {
      $.get('#{day_measures_admin_shop_path(@shop)}', { date: date }, function (data) {
        $('.shop_calendar_info').html(data)
      })
    }

    jQuery(document).ready(function(){
      $('#datepicker1' ).datepicker({ onSelect: load_measures })
      //$('#datepicker1').datepicker('option', $.datepicker.regional[ "ru" ])
      $('#datepicker1').datepicker('option', 'changeYear', false)
    })
=render 'form'

