%h1 Список магазинов
%br
/ // CONTENT
-@shops.each do |shop|
  .shop_list
    .u_subtitle= shop.title
    %a.shop_list_edit{:href => "#{edit_admin_shop_path(shop)}"} Редактировать информацию и время приема на снятие мерок
    .sl_descr
      %p= shop.address
      %br/
      %p Тел.: #{shop.phone}
-if @shops.size == 0 # временно, пока только дин магазин
  %a.sl_add{:href => "#{new_admin_shop_path}"} Добавить магазин
