%h1= @article.title
%br
.article_info
  .u_subtitle Статья «#{@article.category}»
  =form_for [:admin,@article] do |f|
    -@article.errors.full_messages.each do |msg|
      %li= msg
    %dl
      %dt
        %label Заголовок
      %dd
        =f.text_field :title, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "1"
    %dl
      %dt
        %label Текст
      %dd
        =f.text_area :content, :tabindex => "2", :cols => 40, :rows => 32
    -#%dl
      %dt
        %label Публиковать
      %dd
        =f.check_box :publish, :tabindex => "3"
    .submit_btn
      =f.hidden_field :path
      =f.submit :value => 'сохранить', :tabindex => "4", :disable_with => 'сохранить'
