%h1 Тексты
%br
/ // CONTENT
-Article::PATHS.each do |path, title|
  .shop_list
    .u_subtitle= title
    %a.shop_list_edit{:href => edit_admin_article_path(path.parameterize)} Редактировать
    .sl_descr
      %br/
      %p
        =link_to path, '/content/' + path.gsub('-', '/')
