=content_for :head do
  :javascript
    // autocomplete some fields
    $(document).ready(function() {
      var colors = [#{ Fabric.select(:color).group(:color).map {|s| "'#{s.color}'" } * ',' }];
      var materials = [#{ Fabric.select(:material).group(:material).map {|s| "'#{s.material}'" } * ',' }];
      $( "#fabric_color" ).autocomplete({ source: colors });
      $( "#fabric_material" ).autocomplete({ source: materials });

    });
%h1= @fabric.title || 'Добавить новую ткань'
%br
.shop_info
  .u_subtitle Информация о ткани
  =form_for [:admin,@fabric] do |f|
    -@fabric.errors.full_messages.each do |msg|
      %li= msg
    %dl
      %dt
        %label Фотография
      %dd
        =f.file_field :photo, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "1"
        =f.hidden_field :photo_cache
    -if @fabric.photo?
      %dl
        %dt
          %label Удалить
        %dd
          =f.check_box :remove_photo
          =image_tag(@fabric.photo.small.url)
    %dl
      %dt
        %label Название
      %dd
        =f.text_field :title, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "2"
    %dl
      %dt
        %label Описание
      %dd
        =f.text_area :description, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "3", :rows => 8, :cols => 90
    %dl
      %dt
        %label Цвет
      %dd
        =f.text_field :color, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "4"
    %dl
      %dt
        %label Цена
      %dd
        =f.text_field :price, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "5"
    %dl
      %dt
        %label Материал
      %dd
        =f.text_field :material, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "6"
    %dl
      %dt
        %label Структура
      %dd
        =f.text_field :texture, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "7"
    %dl
      %dt
        %label Плотность
      %dd
        =f.text_field :density, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "8"
    %dl
      %dt
        %label Принадлежность коллекции
      %dd
        =f.text_field :collection, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "9"
    %dl
      %dt
        =f.label :kind
      %dd
        -Fabric::CLOTH_KINDS.each do |k, v|
          =f.check_box v
          =f.label v, nil, :class => 'search-field'
          %br
    %dl
      %dt
        =f.label :element
      %dd
        -Fabric::CLOTH_ELEMENTS.each do |k, v|
          =f.check_box v
          =f.label v, nil, :class => 'search-field'
          %br
    %dl
      %dt
        %label Показывать на сайте
      %dd
        =f.check_box :publish, :tabindex => "10"
    .submit_btn
      =f.submit :value => 'сохранить', :tabindex => "11", :disable_with => 'сохранить'
    -unless @fabric.new_record?
      .shop_delete
        =link_to 'Удалить позицию', admin_fabric_path(@fabric), :method => :delete, :confirm => 'Точно удалить?'
