%h1 Список тканей
%br
/ // CONTENT
-@fabrics.each do |fabric|
  .fabric_list
    .u_subtitle= fabric.title
    %a.fabric_list_edit{:href => edit_admin_fabric_path(fabric)} Редактировать
    .sl_descr
      -if fabric.photo.url
        =image_tag(fabric.photo.small.url)
      %br/
      %p= fabric.color
.clear
%a.sl_add{:href => new_admin_fabric_path(params)} Добавить ткань
