-if item.blank?
  %img.submenu_d_img{:alt => "", :src => asset_path("white_img.jpg")}/
  .submenu_d
    %p
    %p.submenu_d_price
-else
  =image_tag(item.photo.tiny.url, :class => 'submenu_d_img active_d')
  .submenu_d
    %p= item.title
    %p.submenu_d_price
      = item.price
      %span.rur
        p
        %span уб.
