.product
  =image_tag(product.photo.small.url)
  %p.product_name= product.title
  %p.product_price
    = product.price
    %span.rur
      p
      %span уб.
  .product_hover{:style => "display:none;"}
    %a{:href => ""}
      =image_tag(product.photo.medium.url)
      %i
    .product_description
      %p.product_desc_name= product.description
      .product_desc
        %p.dl материал:
        %p.dr
          = product.texture
      .submit_btn
        =link_to "Выбрать", url_for(params.merge(:action => 'select_fabric', :id => product.id))
        %p.product_desc_price
          = product.price
          %span.rur
            p
            %span уб.

