=content_for :head do
  :javascript
    DesignStruct = #{Bns.config.send(@step_subj.to_sym).map {|e| e.fetch('classes',[]) }.to_json}
- content_for :bg_slide do
  %img#bgimg{:alt => "", :src => asset_path("slides/slide3.jpg")}/
/ // CONTENT
.menu
  .menu_design= t @title, :scope => 'buy'
  .submenu_design
    %a.step_done{:href => url_for(:step => 1)} Ткань
  .submenu_design
    %a{:href => "#"} Дизайн
    .submenu_design_block.ttnone
      - Bns.config.send(@step_subj.to_sym).to_enum.with_index do |s, i|
        %p
          %span= s['title']
          %span{ :id => "span_d_opt_#{i}" }= s.fetch('options', ['-'])[0]
      -#
        %p
          %span Кол-во пуговиц:
          2
        %p
          %span Пошив:
          Классический
        %p
          %span Форма лацкана:
          Пилообразный
        %p
          %span Форма карманов:
          Прямые
        %p
          %span Манжеты:
          Рабочие
        %p
          %span> Кол-во шлиц:
          Ни одной
        %p
          %span> Монограмма:
          Да
        %p
          %span> Текст монограммы:
          B&S
        %p
          %span> Цвет монограммы:
          Светло-зеленый (№TH022)
        %p
          %span> Декоративная прострочка лацканов и пиджака:
          В цвет пиджака
        %p
          %span Цвет прострочки отверстий для пуговиц:
          Темно-синий (№TH005)
        %p
          %span> Выбор пуговиц:
          Темно-коричневые (Button 003)

  .submenu_design
    %a{:href => "#"} Размер
    .submenu_design_block{:style => "display:none;"}
      %span основная
      %img.submenu_d_img.active_d{:alt => "", :src => asset_path("buy/small1.jpg")}/
      .submenu_d
        %p Deep Blue Nailhead
        %p.submenu_d_price
          19 300
          %span.rur
            p
            %span уб.
      %span подкладка
      %img.submenu_d_img{:alt => "", :src => asset_path("white_img.jpg")}/
      .submenu_d
        %p Deep Blue Nailhead
        %p.submenu_d_price
          19 300
          %span.rur
            p
            %span уб.
#mcs3_container.full_window
  .customScrollBox
    .container
      / content block
      .content
        %h1 Выбор дизайна #{ t @title, :scope => 'buy.fabric.titles' }
        .sort_by
          .sort_options
            %a.field1.u_active_link{:href => "#"} вид спереди
            %a.field2{:href => "#"} вид сзади
        =form_tag(url_for(:action => "select_design"), :id => 'design_form', :remote => true) do
          %table.options_table
            %tr
              %td
                .blank_suit
                  / ======= 1. Кол-во пуговииц =======
                  / 1 пуговица
                  .suit_button1
                  / 2 пуговицы
                  .suit_button2
                  / 3 пуговицы
                  .suit_button3

                  / ======= 2-3. Ширина и форма лацкана =======

                  / +++++++ Фасоны для 2х и 1 пуговицы

                  / Пилообразный класический
                  .suit_fason21_pila_classic
                  / Пилообразный зауженный
                  .suit_fason21_pila_narrow

                  / Пикообразный класический
                  .suit_fason21_piko_classic
                  / Пикообразный зауженный
                  .suit_fason21_piko_narrow

                  / +++++++ Фасоны для 3 пуговиц

                  / Пилообразный класический
                  .suit_fason3_pila_classic
                  / Пилообразный зауженный
                  .suit_fason3_pila_narrow

                  / Пикообразный класический
                  .suit_fason3_piko_classic
                  / Пикообразный зауженный
                  .suit_fason3_piko_narrow




              %td
                .main_options
                  .menu_design ОСНОВНЫЕ ОПЦИИ
                  .submenu_design_block
                    - Bns.config.send(@step_subj.to_sym).to_enum.with_index.reject{|s,i| s.has_key? 'decor'}.each do |s,i|
                      .options_item
                        %p= s.fetch('title', '-')
                        .lineForm3
                          -#= select_tag s['title'], options_for_select(s.fetch('options', [])),
                          = select_tag s['title'],
                            options_for_select(s.fetch('options', []).to_enum.with_index.to_a),
                            :id => "d_opt_#{i}", :name => "design[#{i}]"
                        %a.sort_link{:href => "/"}
                          %img{:alt => "", :src => "/assets/hint.png"}/
                    -#= submit_tag 'OK'
                .decor_options
                  .menu_design
                    ДЕКОРАТИВНЫЕ
                    %br>/
                    ОПЦИИ
                  .options_item
                    %a.sort_link2{:href => "/"}
                      %img{:alt => "", :src => "/assets/hint.png"}/
                    %p Декоративная прострочка лацканов и пиджака
                    %img{:alt => "", :src => "/assets/buy/options_default.png"}
                      .submenu_decor
                        %p в цвет пиджака
                        %a.change_decor{:href => "#change_decor"} изменить
                  .options_item
                    %a.sort_link2{:href => "/"}
                      %img{:alt => "", :src => "/assets/hint.png"}/
                    %p Цвет прострочки отверстий для пуговиц
                    %img{:alt => "", :src => "/assets/buy/options_default.png"}
                      .submenu_decor
                        %p Темно синий
                        %a.change_decor{:href => "#change_decor"} изменить
                  .options_item
                    %a.sort_link2{:href => "/"}
                      %img{:alt => "", :src => "/assets/hint.png"}/
                    %p Выбор пуговиц
                    %img{:alt => "", :src => "/assets/buy/options_default.png"}
                      .submenu_decor
                        %p темно-коричневые
                        %a.change_decor{:href => "#change_decor"} изменить
                  .options_item
                    %a.sort_link2{:href => "/"}
                      %img{:alt => "", :src => "/assets/hint.png"}/
                    %p Цвет ткани подклакди под воротник
                    %img{:alt => "", :src => "/assets/buy/options_default.png"}
                      .submenu_decor
                        %p Blue Nailhead
                        %a.change_decor{:href => "#change_decor"} изменить

          


















    .dragger_container
      .dragger
/ CONTENT //


#change_decor{:style => "display:none;"}
  %p.title выберите цвет декоративной прострочки лацканов и пиджака
  .change_decor_item
    %div
      %a.chnull{:href=>"#"}
        %p нет
      %input{:type => "checkbox", :id => "change1"}/
      %label{:for => "change1"} Нет прострочки
    %div
      %a{:href=>"#"}
        %img{:alt => "", :src => asset_path("buy/change2.png")}/
      %input{:type => "checkbox", :id => "change2"}/
      %label{:for => "change2"} В цвет пиджака
    %div
      %a{:href=>"#"}
        %img{:alt => "", :src => asset_path("buy/change3.png")}/
      %input{:type => "checkbox", :id => "change3"}/
      %label{:for => "change3"} Темно-синий
    %div
      %a{:href=>"#"}
        %img{:alt => "", :src => asset_path("buy/change4.png")}/
      %input{:type => "checkbox", :id => "change4"}/
      %label{:for => "change4"} Светло-зеленый
    %div.nomargin
      %a{:href=>"#"}
        %img{:alt => "", :src => asset_path("buy/change5.png")}/
      %input{:type => "checkbox", :id => "change5"}/
      %label{:for => "change5"} КРАСНЫЙ
    .submit_change
      %input{:type => "submit", :value => "Выбрать"}/
