- content_for :bg_slide do
  %img#bgimg{:alt => "", :src => asset_path("slides/slide3.jpg")}/
/ // CONTENT
.menu
  .menu_design= t @title, :scope => 'buy'
  .submenu_design
    %a{:href => "#"} Ткань
    .submenu_design_block
      %span основная
      = render :partial => 'fabric_choice_item', :locals => { :item => @selected_fabrics[0] }
      -if @n_fabric_steps > 1
        %span подкладка
        = render :partial => 'fabric_choice_item', :locals => { :item => @selected_fabrics[1] }
  .submenu_design
    %a{:href => "#"} Дизайн
    .submenu_design_block{:style => "display:none;"}
      %span основная
      %img.submenu_d_img.active_d{:alt => "", :src => asset_path("buy/small1.jpg")}/
      .submenu_d
        %p Deep Blue Nailhead
        %p.submenu_d_price
          19 300
          %span.rur
            p
            %span уб.
      %span подкладка
      %img.submenu_d_img{:alt => "", :src => asset_path("white_img.jpg")}/
      .submenu_d
        %p Deep Blue Nailhead
        %p.submenu_d_price
          19 300
          %span.rur
            p
            %span уб.
  .submenu_design
    %a{:href => "#"} Размер
    .submenu_design_block{:style => "display:none;"}
      %span основная
      %img.submenu_d_img.active_d{:alt => "", :src => asset_path("buy/small1.jpg")}/
      .submenu_d
        %p Deep Blue Nailhead
        %p.submenu_d_price
          19 300
          %span.rur
            p
            %span уб.
      %span подкладка
      %img.submenu_d_img{:alt => "", :src => asset_path("white_img.jpg")}/
      .submenu_d
        %p Deep Blue Nailhead
        %p.submenu_d_price
          19 300
          %span.rur
            p
            %span уб.
#mcs3_container.full_window
  .customScrollBox
    .container
      / content block
      .content
        %h1 Выбор #{ t @step_subj, :scope => 'buy.fabric.titles' }
        .sort_by
          %span Сортировать по:
          .sort_options
            %a.field1{:href => url_for(:sort => "price"),
              :class => @grouped_items.sort_param == 'price' ? 'u_active_link' : ''} Цене
            %a.field2{:href => url_for(:sort => "color"),
              :class => @grouped_items.sort_param == 'color' ? 'u_active_link' : ''} Цвету
            %a.field3{:href => url_for(:sort => "texture"),
              :class => @grouped_items.sort_param == 'texture' ? 'u_active_link' : ''} Материалу
            -if @n_fabric_steps == @selected_fabrics.size
              %a{:href => url_for(:step => @n_fabric_steps + 1)} Конструктор
        -if @grouped_items.groups.size <= 1
          =render :partial => 'fabric_item', :collection => @grouped_items.items, :as => :product
          .clear
        -else
          - @grouped_items.groups.each do |group|
            %a.hover_list.l1{:href => "#"}= group.to_s.empty? ? 'Другой' : group
            .hover_content1.fix_width{:style => (@grouped_items.groups.size > 1) ? "display: none;" : 'display:block'}
              =render :partial => 'fabric_item', :collection => @grouped_items.by_group(group), :as => :product
            .clear
    .dragger_container
      .dragger
/ CONTENT //
