%h1= @accessory.title || 'Добавить новый аксессуар'
%br
.shop_info
  .u_subtitle Информация об аксессуаре
  =form_for [:admin,@accessory] do |f|
    -@accessory.errors.full_messages.each do |msg|
      %li= msg
    %dl
      %dt
        %label Название
      %dd
        =f.text_field :title, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "1"
    %dl
      %dt
        %label Описание
      %dd
        =f.text_field :description, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "2"
    %dl
      %dt
        %label Тип
      %dd
        =f.text_field :category, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "3"
    %dl
      %dt
        %label Цена
      %dd
        =f.text_field :price, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "4"
    %dl
      %dt
        %label Материал
      %dd
        =f.text_field :material, :class => 'search-field', :onfocus => 'this.className="selected"', :onblur => 'this.className="search-field"', :tabindex => "5"
    %dl
      %dt
        %label Наличие на складе
      %dd
        =f.check_box :publish, :tabindex => "6"
    .submit_btn
      =f.submit :value => 'сохранить', :tabindex => "7", :disable_with => 'сохранить'
    -unless @accessory.new_record?
      .shop_delete
        =link_to 'Удалить позицию', admin_accessory_path(@accessory), :method => :delete, :confirm => 'Точно удалить?'
