%h1 Список аксессуаров
%br
/ // CONTENT
-@accessories.each do |accessory|
  .fabric_list
    .u_subtitle= accessory.title
    %a.fabric_list_edit{:href => edit_admin_accessory_path(accessory)} Редактировать
    .sl_descr
      -if accessory.photo
        =image_tag(accessory.photo.small.url)
      %br/
      %p= accessory.description
%a.sl_add{:href => new_admin_accessory_path} Добавить аксессуар
