-content_for :head do
  :javascript
    $(document).on('ready',function() {
      $.fancybox( $('#change_password'),  {modal: true });
    });
-content_for :bg_slide do
  %img#bgimg{:alt => "", :src => "#{asset_path('slides/slide1.jpg')}"}/
#change_password.registration{:style => "display:none"}
  /Confirm password form
  .reg_form.hidden_shadow
    .error_explanation
      %ul
    %p.title смена пароля
    =form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }, :remote => true) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      %label{:for => "new_password"} новый пароль:
      .clear
      = f.password_field :password, :tabindex => "1", :id => "new_password"
      .clear
      %label{:for => "confirm_password"} подтверждение пароля:
      .clear
      = f.password_field :password_confirmation, :tabindex => "2", :id => "confirm_password"
      .submit_btn
        = f.submit "Сменить пароль"
    .compl{:style => "display:none"}
      %p.title спасибо
      %p.hint{:style => "margin-bottom:0px;"}
        Пароль успешно изменён.
      %p.hint{:style => "margin-bottom:0px;"}
        %a{ :href => root_path } На главную

