-content_for :head do
  :javascript
    $(document).on('ready',function() {
      $.fancybox( $('#forgot_password'),  {modal: true });
    });
-content_for :bg_slide do
  %img#bgimg{:alt => "", :src => "#{asset_path('slides/slide1.jpg')}"}/

