<% if resource.errors.any? %>

  $('#change_password .error_explanation ul li').remove();
  
  <% resource.errors.each do |k,error| %>
     $('#change_password .error_explanation ul').prepend('<li class="reg_<%= k %>"><p><span>&bull;</span> <%= k.capitalize %> <%= escape_javascript( error ) %></p></li>');
  <% end %>

<% else %>


  $('#change_password > div > *').hide();
  $('#change_password .compl').show();

<% end %>


