=content_for :head do
  :javascript
    function load_measures(year, week) {
      var data = {}
      data.year = year || '#{Time.now.year}'
      data.week = week || '#{Time.now.to_date.cweek}'
      data.id = '#{@shop && @shop.id}'
      if(data.id) {
        $.get('#{shop_sizing_table_path}', data, function (data) {
          $('.sizing_table').html(data)
        })
      }
      return false
    }

    jQuery(document).ready(function(){
      load_measures()
      $('.sizing_table').on('click','td:not(.current_day)', function () {
        $('.times span').text( $(this).attr('data-name') )
        $('.book_form input[type=submit]').removeAttr("disabled");
        $('.book_form').attr('action', $(this).attr('data-link') )
        // visualise
        $('.sizing_selected').removeClass('sizing_selected')
        $(this).addClass('sizing_selected')
      })
      $('.book_form').on('ajax:success', function(evt, data) {
          if(data.status == 'ok') {
            $('#'+data.id).addClass('current_day')
            $.fancybox.close()
          }
      })
    })
-content_for :bg_slide do
  %img#bgimg{:alt => "", :src => "#{asset_path('slides/slide3.jpg')}"}/
-# CONTENT
.menu
  %a.active{:href => "#"}= @shop.title
  %a{:href => "#"} Наша доставка
#mcs3_container
  .customScrollBox
    .container
      / content block
      .content
        %h1= @shop.title
        %p{ :style => 'white-space: pre-line' }<= @shop.description
        .left_block
          %p.block_title наш адрес
          %p{ :style => 'white-space: pre-line' }<= @shop.address
          %p Тел.: #{@shop.phone}
        .right_block
          %p.block_title время работы
          %p{ :style => 'white-space: pre-line' }<= @shop.time
          -if @shop
            %p
              %b
                %a.sizing{:href => "#sizing"} Записаться на снятие замеров
        %br/
        -if @shop.map_url
          =image_tag(@shop.map_url)
    .dragger_container
      .dragger
#sizing.mw{:style => "display:none;"}
  %p.m_title запись на снятие мерок
  / сентябрь 12 - 18
  .sizing_table.table1
  %span.t1 Время свободно
  %span.t2 Время зарезервировано
  %p.title Зарезервировать время
  %p.times
    выбранное вами время:
    %span &mdash;
  =form_tag shop_book_hour_path, :remote => true, :class => 'book_form' do
    %span
      %label{:for => "book_fio"} Имя и фамилия *:
      =text_field_tag "book[user_name]", user_signed_in? ? current_user.fio : nil, :tabindex => "1", :id => "book_fio"
    %span
      %label{:for => "book_phone"} Контактный телефон *:
      =text_field_tag "book[phone]", user_signed_in? ? current_user.phone : nil, :tabindex => "1", :id => "book_phone"
    %span
      %label{:for => "book_email"} E-mail:
      =text_field_tag "book[email]", user_signed_in? ? current_user.email : nil, :tabindex => "1", :id => "book_email"
    .clear
    .m_phone
      По телефону:
      %span= @shop.phone
      или
      %input{:tabindex => "4", :type => "submit", :value => "Забронировать", :disabled => 'disabled'}/
      -#=link_to 'Забронировать', shop_book_hour_path, :remote => true, :method => :post

