.month
  %a.m_arrow_left{:href => "#", :onclick => "return load_measures('#{(@date_start - 1.day).year}', #{(@date_start - 1.day).cweek})"}
  -if @date_start.month == @date_end.month
    = "#{ru_month_name @date_start.month}, #{@date_start.day} — #{@date_end.day}"
  -else
    #{ru_month_name @date_start.month}, #{@date_start.day}
    —
    #{ru_month_name @date_end.month}, #{@date_end.day}
  %a.m_arrow_right{:href => "#", :onclick => "return load_measures('#{(@date_end + 1.day).year}', #{(@date_end + 1.day).cweek})"}
%table
  %thead
    %tr
      %th &nbsp;
      - @time_range.each do |h|
        %th= "%02i:00 - %02i:00" % [h, h+1]
  %tbody
    - (@date_start .. @date_end).each do |date|
      %tr
        %td.m_first
          %p #{l date, :format => :short1}
          #{l date, :format => :weekday}
        - @time_range.each do |h|
          - if m = @by_dayhour["#{date.wday}_#{h}"] and !m.isbusy
            %td{ :'data-name' => "#{"%02i:00 - %02i:00" % [h, h+1]}, #{l date, :format => :short_wd}",
                 :'data-link' => shop_book_hour_path(:id => @shop_id, :date => date, :hour => h),
                 :id => "td_#{date}_#{h}",
                 :'data-w' => "#{date.wday}_#{h} - #{m.at} busy?#{m.isbusy}"}
          - else
            %td.current_day
