- content_for :bg_slide do
  %img#bgimg{:alt => "", :src => "assets/slides/slide3.jpg"}
.buy_online
  %table
    %tr
      %td.suit{:rowspan => "2"}
        %a{:href => buy_suit_path }
          %img{:alt => "", :src => "assets/buy/1.jpg"}/
      %td.coat
        %a{:href => buy_jacket_path}
          %img{:alt => "", :src => "assets/buy/2.jpg"}/
      %td.coat
        %a{:href => buy_shirt_path}
          %img{:alt => "", :src => "assets/buy/3.jpg"}/
      %td.suit{:rowspan => "2"}
        %a{:href => "#"}
          %img{:alt => "", :src => "assets/buy/4.jpg"}/
    %tr
      %td.coat
        %a{:href => buy_trousers_path}
          %img{:alt => "", :src => "assets/buy/5.jpg"}/
      %td.coat
        %a{:href => buy_coat_path}
          %img{:alt => "", :src => "assets/buy/6.jpg"}/
#mcs3_container{:style => "display:none;"}
  .customScrollBox
    .container
      .content
    .dragger_container
      .dragger
