-content_for :bg_slide do
  %img#bgimg{:alt => "", :src => "#{asset_path('slides/slide4.jpg')}"}/
.menu
  - @article.submenu.each do |path, title|
    - p1, p2 = path.split('-')
    - t1, t2 = title.split(' - ')
    %a{:href => "#{url_for(:p1 => p1, :p2 => p2)}", :class => path == @article.path ? 'active' : '' }= t2
#mcs3_container
  .customScrollBox
    .container
      / content block
      .content
        = @article.content.html_safe
    .dragger_container
      .dragger
