<% content_for :bg_slide do %>
  <img src="assets/slides/slide3.jpg" alt="" id="bgimg">
<% end %>

<!-- // CONTENT -->
  <div class="menu">
        <div class="menu_design"> - пиджак</div>
        <div class="submenu_design">
          <a href="#" class="step_done">Ткань</a>
        </div>
        <div class="submenu_design">
          <a href="#">Дизайн</a>
          <div class="submenu_design_block ttnone">
            <p><span>Кол-во пуговиц:</span> 2</p>
            <p><span>Пошив:</span> Классический</p>
            <p><span>Форма лацкана:</span> Пилообразный</p>
            <p><span>Форма карманов:</span> Прямые</p>
            <p><span>Манжеты: </span> Рабочие</p>
            <p><span>Кол-во шлиц: </span>Ни одной</p>
            <p><span>Монограмма: </span>Да</p>
            <p><span>Текст монограммы: </span>B&S</p>
            <p><span>Цвет монограммы: </span>Светло-зеленый (№TH022)</p>
            <p><span>Декоративная прострочка лацканов и пиджака: </span>В цвет пиджака</p>
            <p><span>Цвет прострочки отверстий для пуговиц:</span> Темно-синий (№TH005)</p>
            <p><span>Выбор пуговиц: </span>Темно-коричневые (Button 003)</p>
          </div>
        </div>
        <div class="submenu_design">
          <a href="#">Размер</a>
          <div style="display:none;" class="submenu_design_block">
            <span>основная</span>
            <img src="/assets/buy/small1.jpg" class="submenu_d_img active_d" alt="">
            <div class="submenu_d">
              <p>Deep Blue Nailhead</p>
              <p class="submenu_d_price">
                19 300
                <span class="rur">
                  p
                  <span>уб.</span>
                </span>
              </p>
            </div>
            <span>подкладка</span>
            <img src="/assets/white_img.jpg" class="submenu_d_img" alt="">
            <div class="submenu_d">
              <p>Deep Blue Nailhead</p>
              <p class="submenu_d_price">
                19 300
                <span class="rur">
                  p
                  <span>уб.</span>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>

  
  <div id="mcs3_container" class="full_window">
    <div class="customScrollBox">
      <div class="container">
      <!-- content block -->
        <div class="content">
            <form>
              <h1>Выбор дизайна пиджака</h1>
              <div class="sort_by">
                <div class="sort_options">
                  <a href="#" class="field1 u_active_link">вид спереди</a>          
                  <a href="#" class="field2">вид сзади</a>
                </div>
              </div>


              <table class="options_table">
                <tr>
                  <td><img src="/assets/buy/suit/default.png" alt="" /></td>
                  <td>
                    <div class="main_options">
                      <div class="menu_design">ОСНОВНЫЕ ОПЦИИ</div>



                      <div class="options_item">
                        <p>Кол-во пуговиц</p>
                        <div class="lineForm3">
                          <select id="options_item1" tabindex="2">
                            <option value="">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select>
                        </div>
                        <a href="/" class="sort_link"><img src="/assets/hint.png" alt="" /></a>
                      </div>


                      <div class="options_item">
                        <p>Пошив</p>
                        <div class="lineForm3">
                          <select id="options_item2" tabindex="2">
                            <option value="">Классический 1</option>
                            <option value="2">Классический 2</option>
                            <option value="3">Классический 3</option>
                          </select>
                        </div>
                        <a href="/" class="sort_link"><img src="/assets/hint.png" alt="" /></a>
                      </div>


                      <div class="options_item">
                        <p>Форма лацкана</p>
                        <div class="lineForm3">
                          <select id="options_item3" tabindex="2">
                            <option value="">Пилообразный 1</option>
                            <option value="2">Пилообразный 2</option>
                            <option value="3">Пилообразный 3</option>
                          </select>
                        </div>
                        <a href="/" class="sort_link"><img src="/assets/hint.png" alt="" /></a>
                      </div>


                      <div class="options_item">
                        <p>Форма карманов</p>
                        <div class="lineForm3">
                          <select id="options_item4" tabindex="2">
                            <option value="">Прямые 1</option>
                            <option value="2">Прямые 2</option>
                            <option value="3">Прямые 3</option>
                          </select>
                        </div>
                        <a href="/" class="sort_link"><img src="/assets/hint.png" alt="" /></a>
                      </div>


                      <div class="options_item">
                        <p>Дополнительный карман</p>
                        <div class="lineForm3">
                          <select id="options_item5" tabindex="2">
                            <option value="">Да</option>
                            <option value="2">Нет</option>
                          </select>
                        </div>
                        <a href="/" class="sort_link"><img src="/assets/hint.png" alt="" /></a>
                      </div>

                      <div class="options_item">
                        <p>Манжеты</p>
                        <div class="lineForm3">
                          <select id="options_item6" tabindex="2">
                            <option value="">Рабочие 1</option>
                            <option value="2">Рабочие 2</option>
                          </select>
                        </div>
                        <a href="/" class="sort_link"><img src="/assets/hint.png" alt="" /></a>
                      </div>


                      <div class="options_item">
                        <p>Кол-во шлиц</p>
                        <div class="lineForm3">
                          <select id="options_item7" tabindex="2">
                            <option value="">Ни одной 1</option>
                            <option value="2">Ни одной 2</option>
                          </select>
                        </div>
                        <a href="/" class="sort_link"><img src="/assets/hint.png" alt="" /></a>
                      </div>


                      <div class="options_item">
                        <p>Монограмма</p>
                        <div class="lineForm3">
                          <select id="options_item8" tabindex="2">
                            <option value="">Да</option>
                            <option value="2">Нет</option>
                          </select>
                        </div>
                        <a href="/" class="sort_link"><img src="/assets/hint.png" alt="" /></a>
                      </div>


                      <div class="options_item">
                        <p>Текст монограммы (только английские буквы)</p>
                        <input type="text" />
                        <a href="/" class="sort_link"><img src="/assets/hint.png" alt="" /></a>
                      </div>






                    </div>
                    <div class="decor_options">
                      <div class="menu_design">ДЕКОРАТИВНЫЕ<br />ОПЦИИ</div>

                      <div class="options_item">
                        <a href="/" class="sort_link2"><img src="/assets/hint.png" alt="" /></a>
                        <p>Декоративная прострочка лацканов и пиджака</p>
                        <img src="/assets/buy/options_default.png" alt="">
                        <div class="submenu_decor">
                          <p>в цвет пиджака</p>
                          <a href="/">изменить</a>
                        </div>

                        
                      </div>

                      <div class="options_item">
                        <a href="/" class="sort_link2"><img src="/assets/hint.png" alt="" /></a>
                        <p>Цвет прострочки отверстий для пуговиц</p>
                        <img src="/assets/buy/options_default.png" alt="">
                        <div class="submenu_decor">
                          <p>Темно синий</p>
                          <a href="/">изменить</a>
                        </div>

                        
                      </div>

                      <div class="options_item">
                        <a href="/" class="sort_link2"><img src="/assets/hint.png" alt="" /></a>
                        <p>Выбор пуговиц</p>
                        <img src="/assets/buy/options_default.png" alt="">
                        <div class="submenu_decor">
                          <p>темно-коричневые</p>
                          <a href="/">изменить</a>
                        </div>

                        
                      </div>

                      <div class="options_item">
                        <a href="/" class="sort_link2"><img src="/assets/hint.png" alt="" /></a>
                        <p>Цвет ткани подклакди под воротник</p>
                        <img src="/assets/buy/options_default.png" alt="">
                        <div class="submenu_decor">
                          <p>Blue Nailhead</p>
                          <a href="/">изменить</a>
                        </div>

                        
                      </div>

















                    </div>
                    


                  </td>
                </tr>







              </table>




              
              
              
        
        
         
   

        </form>
        </div> <!-- content -->
      </div> <!-- container -->
      


      <div class="dragger_container">
        <div class="dragger"></div>
      </div>
    </div>
  </div>
  <!-- CONTENT // -->