-content_for :bg_slide do
  %img#bgimg{:alt => "", :src => "#{asset_path('slides/slide4.jpg')}"}/
.menu
  %a{:href => "#{process_path}"} описание процесса
  %a{:href => "#{quality_guarantee_path}"} гарантии качества
  %a{:href => "#{material_path}"} ткани
  %a.active{:href => "#{faq_path}"} f.a.q.
#mcs3_container
  .customScrollBox
    .container
      / content block
      .content
        %h1 f.a.q.
        %a.hover_list.l1{:href => "#"} Как происходит оплата
        .hover_content1
          %p
            Наша продкуция изготавливается по Вашим индивидуальным меркам, поэтому мы вынуждены брать предоплату не менее 75% при заказе  костюма и не менее 90% при заказе сорочку. Данная предоплата позволяет покрыть нам производственные затраты, в случае, если Вы по необъективным причинам откажитесь от готового продукта.
        %a.hover_list.l2{:href => "#"} Что будет, если костюм / рубашка не подошли
        .hover_content2
          %p
            Костюм и сорочка изготовленные по индивидуальным меркам это продукт часто ручного труда и, естественно, при этом могут возникать неточности, которые в итоге приводят к ошибкам при посадке готового изделия на Вас. Поэтому в первую очередь мы попытаемся исправить эти неточности при помощи нашего портного, который постоянно находиться в нашем магазине и максимально оперативно сможет определить неточности посадки и, в зависимости, от комлексности требуемых доработок, максимально приблизить Ваш костюм к идельаному. Если это не представляется возможным, и ошибка нашей компании очевидна. Мы, извинившись, беремся полностью компенсировать стоимость Вашего костюма
        %a.hover_list.l3{:href => "#"} Как быстро изготавливается костюм/ сорочка
        .hover_content3
          %p
            В данный момент, ввиду необходимости ввозить нашу продукцию через границу мы готовы взять на себя обязательство укладываться при каждом заказе в 4 недели, которых нам будет достаточно, чтобы привести Вашу костюм или сорочку к нам в магазин.
        %a.hover_list.l4{:href => "#"} Зачем нужна запись на примерку
        .hover_content4
          %p
            Мы ненавидим стоять в очередях и находиться в тестных помещениях, если, конечно, Вас не окружают молодые красивые девушки на какой-либо шумной вечеринке, поэтому мы постарались устроить наш сервис максимальноэто удобным и комфортым для Вас. На данный момент это реализовано при помощи записи через наш сайт или по телефону. В дальнешем мы обещаем также создавать тесное кольцо красоток в любое время, когда Вам захочется приехать к нам в магазин
        %a.hover_list.l5{:href => "#"} Если я не нашел подходящей ткани, значит ли, что мне придется искать другую компанию
        .hover_content5
          %p
            В первую очередь мы будем очень благодарны Вам если Вы нам сообщит какую ткань Вам не удалось найти. Дело в том, что мы стараемся управлять своими стоками с учетом пожеланий рынка, поэтому если мы и не сможем что-то предложить сейчас мы обязательно постараемся предложить это в ближайшей перспективе. Кроме этого, если Вы не нашли этого на сайте, возможно данная ткань может быть у нас в магазине. Каждый сезон компании-производители тканей выпускают сезонные коллекции, возможно мы не успели обновить ассортимент на сайте, поэтому большая просьба связаться с нами и уточнить, будут ли вскоре обновления ассортимента. Возможно среди новых тканей будет именна та, которую Вы ищите.
        %a.hover_list.l6{:href => "#"} Почему Вы пропогандируете холостяцкий образ жизни
        .hover_content6
          %p
            Мы считаем, что настоящий мужчина должен быть, в первую очередь, свободным человеком. Во вторую, мы сами являемся искателями приключений. Обремененные отношениями, а тем более самой тяжелой их формой, получать максимальный драйв от жизни возможно только при самом удачном стечении обстоятельств и самом правильном выбооре партнера. Так везет далеко не всем. Кроме этого Мы должны добиваться в жизни значимых результатов не только в личной жизни. Родить и воспитать ребенка на каком-то уровне могут многие.
          %p
            Добиться успеха в карьере и бизнесе уже не так просто и, критически важно, вступая в отношения Вы привязываете себе огромную гирю. Поэтому тут важно НЕ СПЕШИТЬ! Важно попробовать и выбрать из большого количества наций, ростов, цветов кожи, волос, глаз, различного склада характера, безусловно высокой интеллектуалки и при этом не дающей Вам заскучать в постели и не только в постели, во всем доме, в парке, самолете, море, в офисе, машине. Ищите свой идеал, не сдавайтесь, только тогда Вы будете оставаться мужчиной, примером для подражания и объектом зависти. Тоже мы относим и к женщинам! Мы современные люди и толеранты к противоположному полу, ищите, исследуйте мужчин, перепробуйте всех своих знакомых и остановитесь, если будете абсолютно, совершенно, уверены, только так Вы оба найдете друг друга. И не расстраивайтесь, если в 30 вы его не встретили, это лучше развода в 40, тем более с детьми. Вкратце, хотите беззаботно жить, хотите красивую умную жену, заботливого внимательного мужа, счастливых успешных детей - до 7-го миллиона, либо 40 лет KEEP ON TRYING.
    .dragger_container
      .dragger
