-content_for :bg_slide do
  %img#bgimg{:alt => "", :src => "#{asset_path('slides/slide4.jpg')}"}/
.menu
  %a{:href => "#"} цены
  %a.active{:href => "#"} подарочные сертификаты
  %a{:href => "#"} скидки
#mcs3_container
  .customScrollBox
    .container
      / content block
      .content
        %h1 подарочные сертификаты
        =image_tag "sertificate.jpg"
        %br/
        %br/
        %p
          Мы знаем как сложно иногда подарить что-то интересное, практичное и, при этом, что должно прийтись на вкус одариваемому мужчине. Поэтому в нашей компании мы приняли решение ввести инструмент подарочных карт, который любой мужчина сможет использовать для оплаты товаров из нашего ассортимента. Ведь индивидуально скроеная рубашка или костюм – это всегда уместный подарок, обладающий практичностью, идеальной «подходимостью» как по стилю, так и по размерам. Любому мужчине такой подарок доставит искренне удовольствие при его использовании. На данный момент мы предлагаем три вида подарочных сертификатов – на 2 000, 5 000 и 10 000 руб.
    .dragger_container
      .dragger
