-content_for :head do
  :javascript
    // preload bg slides
    $(window).load(function() {
      var images = ["#{asset_path('slides/slide2.jpg')}", "#{asset_path('slides/slide3.jpg')}", "#{asset_path('slides/slide4.jpg')}"];
      $(images).each(function(n,i) {
        var img = new Image();
        img.src = i;
      });
    });
-content_for :bg_slide do
  %img#bgimg{:alt => "", :src => "#{asset_path('slides/slide1.jpg')}"}/
.new_coll
  %p.name
    новая коллекция тканей
    %span Весна-лето 2012
  %a{:href => "#"} посмотреть
