-content_for :bg_slide do
  %img#bgimg{:alt => "", :src => "#{asset_path('slides/slide4.jpg')}"}/
.menu
  %a{:href => "#{process_path}"} описание процесса
  %a{:href => "#{quality_guarantee_path}"} гарантии качества
  %a.active{:href => "#{material_path}"} ткани
  %a{:href => "#{faq_path}"} f.a.q.
#mcs3_container
  .customScrollBox
    .container
      / content block
      .content
        %h1 Ткани
        %p
          %b Ткани
          – это сырье для нашей продукции. Как и везде сырье определяет уровень конечного продукта. И является недостаточным, но при этом обязательным, условием получения качественного продукта. Поэтому мы решили посвятить отдельный раздел нашего сайта нашему сырью.
        %p
          %b В первую очередь мы минимизировали (не приемлим)
          использование смесовых тканей до их нишевого применения – командировки. Свойства смесовых тканей позволяют хорошо переносить самые жесткие условия перевозок, захотите ли ненадолго прилечь в аэропорту пересадки или Вам сложно находиться в одном положении в кресле самолета. Трение и сильное натяжение, в таких условиях смесовые ткани продержаться дольше. На жаргоне из называют «пуленепробиваемые».
        %p
          %b Для тех кто не приемлит послаблений в своем внешнем виде
          даже на короткое время подойдут только натуральные ткани, которые являются основной нашей коллекции. Только такое сырье позволяет Вашей одежде выглядеть лучшим образом.
        %p
          %b Рассматривая более детально
          ткани для костюма в нашей коллекции изготовлены из шерсти. Основные отличия состоят в кручении шерсти и плотности полотна. Кручение ткани, обозначаемое как xxx’S, означает длину нити, номинированную в м, которую можно получить из 1 кг шерсти. Таким образом, чем выше кручение, тем тоньше нить, тем более нежным, но при этом хрупким, становиться тканое полотно. Поэтому для ежедневного ношения рекомендуется использовать ткани кручения 130’S – 150’S, в этих тканях показатель «нежности» и «хрупкости» находиться в оптимальном соотношении. При этом ткани более высокго кручения подойдут для костюмов, которые Вы будете одевать реже, на вечеринки, в отпуск. По ощущениям ткань кручения 180’S начинает напоминать плотный шелк, при этом сохраняя все самые важные характеристики шерсти.
        %p
          %b В нашем ассортименте шерстяные ткани закупаются
          только в Италии. Это позволяет получать гарантированно высокое качество полотна, а также самые новые трендовые дизайны. Для премиальной линейки мы используем ткани известного мирового бренда – Loro Piana.
        %p
          %b Хлопковые ткани
          закупаются в регионах мира, где хлопок произрастает – это Китай и Египет.
        %p
          %b Ассортимент наших тканей Вы можете
          оценить зайдя на старинцу конструктора или приехва к нам в магазин.
    .dragger_container
      .dragger
