-content_for :bg_slide do
  %img#bgimg{:alt => "", :src => "#{asset_path('slides/slide4.jpg')}"}/
.menu
  %a.active{:href => "#{process_path}"} описание процесса
  %a{:href => "#{quality_guarantee_path}"} гарантии качества
  %a{:href => "#{material_path}"} ткани
  %a{:href => "#{faq_path}"} f.a.q.
#mcs3_container
  .customScrollBox
    .container
      / content block
      .content
        %h1 описание процесса
        %p
          В нашей модели мы постарались сделать процесс наиболее простым, быстрым и удобным. Мужской костюм на заказа - продукт достаточно сложный, поэтому, делая заказ в первый раз, потребует от Вас некоторых временных затрат. Последющие заказы будет делать значительно проще.
        .sep
        %a.hover_list.l1{:href => "#"} ПРОЦЕСС ЗАКАЗА КОСТЮМА В ПЕРВЫЙ РАЗ
        .hover_content7
          %p.circle_one
            Конструируете нужный Вам дизайн на нашем сайте или приезжайте сразу в магазин;
          %p.circle_two
            %span
              Записываетесь в магазин на примерку;
          %p.circle_three
            %span
              Наш специалист снимет мерки;
          %p.circle_four
            %span
              Оплачиваете товар и ждёте оповещения по e-mail (до 4-ёх недель);
          %p.circle_five
            После оповещения приезжаете к нам в магазин для повторной примерки готового костюма;
          %p.circle_six
            Если требуются дополнительные корректировки, за 1-у неделю мы дорабатываем Ваш костюм.
        %a.hover_list.l2{:href => "#"} Заказ костюма во второй раз
        .hover_content8
          %p.circle_one
            Конструируете нужный Вам дизайн на нашем сайте или приезжайте сразу в магазин;
          %p.circle_two
            Выбираете существующий профиль размеров или вновь записываетесь в наш магазин на примерку;
          %p.circle_three
            %span
              Оплачиваете товар и ждёте оповещения по e-mail (до 4-ёх недель);
          %p.circle_four
            %span
              После оповещения приезжаете к нам в магазин за готовым костюмом.
        %a.hover_list.l3{:href => "#"} заказ рубашки впервые
        .hover_content9
          %p.circle_one
            Конструируете нужный Вам дизайн на нашем сайте или приезжайте сразу в магазин;
          %p.circle_two
            Снимаете мерки самостоятельно пользуясь нашими подсказками на сайте или записываетесь в наш магазин на примерку со специалистом;
          %p.circle_three
            %span
              Оплачиваете товар и ждёте оповещения по e-mail (до 4-ёх недель);
          %p.circle_four
            %span
              Выбираете способ доставки.
        %a.hover_list.l4{:href => "#"} заказ рубашки во второй раз
        .hover_content10
          %p.circle_one
            Конструируете нужный Вам дизайн на нашем сайте или приезжайте сразу в магазин;
          %p.circle_two
            Выбираете существующий профиль размеров или создаёте новый профиль самостоятельно, либо с помощью специалиста в магазине;
          %p.circle_three
            %span
              Оплачиваете товар и ждёте оповещения по e-mail (до 4-ёх недель);
          %p.circle_four
            %span
              Выбираете способ доставки.
    .dragger_container
      .dragger
