-content_for :bg_slide do
  %img#bgimg{:alt => "", :src => "#{asset_path('slides/slide4.jpg')}"}/
.menu
  %a.active{:href => "#"} мой аккаунт
  %a{:href => "#"} история и статус заказов
  %a{:href => "#"} корзина
  %a{:href => "#"} мои размеры
  %a{:href => "#"} программа лояльности
#mcs3_container
  .customScrollBox
    .container
      / content block
      .content
        %h1 мой аккаунт
        .profile
          .block_title
            личные данные &nbsp;&nbsp;
            %a.editor_action{:href => "#"} изменить
          %dl
            %dt ФИО
            %dd= current_user.fio
          %dl
            %dt контактный телефон
            %dd= current_user.phone
          %dl
            %dt почта
            %dd= current_user.email
          %dl
            %dt пароль
            %dd
              %a.editor_action{:href => "#"} изменить
          %br/
          %br/
          .block_title профайл клиента
          %dl
            %dt дата регистрации
            %dd= l current_user.created_at.to_date
          %dl
            %dt кол-во покупок
            %dd 23
          %dl
            %dt статус в программе лояльности
            %dd Статус1
          %dl
            %dt подписка на рассылку
            %dd
              Есть &nbsp;&nbsp;
              %a.editor_action{:href => "#"} отписаться
    .dragger_container
      .dragger
