-content_for :bg_slide do
  %img#bgimg{:alt => "", :src => "#{asset_path('slides/slide4.jpg')}"}/
.menu
  %a{:href => "#{process_path}"} описание процесса
  %a.active{:href => "#{quality_guarantee_path}"} гарантии качества
  %a{:href => "#{material_path}"} ткани
  %a{:href => "#{faq_path}"} f.a.q.
#mcs3_container
  .customScrollBox
    .container
      / content block
      .content
        %h1 гарантии качества
        =image_tag "guaranty_01.jpg"
        %br/
        %br/
        %p
          Качество является одной из самых важных ценностей компании, это отражается и 
          %br/
          на качестве итогового продукта и на качестве оказания услуг. Мы постоянно
          %br/
          работаем над улучшением этих показателей. Получая обратную связь от наших клиентов, мы обращаем внимание на все мелочи, которые вызывают нарекания наших клиентов и пытаемся максимально быстро внедрить изменения. Для того, чтобы достичь текущего уровня мы детально проработали три основных аспекта – это материалы, из которых производится наша продукция. Второе, это производственные мощности, где отшивается весь ассортимент нашей компании. И, третье, не менее важное это персонал, который сопровождает наших клиентов на протяжении всего процесса зримо или незримо.
        %p.block_title Производство
        =image_tag "production.jpg"
        %br/
        %br/
        %p
          Мы отошли от традиционной парадигмы размещения прозводства
          %br/
          в Юго-Восточной Азии и предприняли серьезные усилия, чтобы найти приемлимое по цене производство в Европе. При условии отсутствия Вашего прямого контроля, производители Юго-Восточной Азии, предлагая более низкие цены, не могут выдерживать стабильно высокого уровня качества. Европейским производителям более свойственна отвественность за качество продукта, стремление сохранить хорошие отношения с партнерами и постоянное совершенствование своего производства. Данный подход в значительной мере соответсвтует подходу нашей компании, поэтому именно в Европе отшиваются Ваши костюмы и сорочки.
        %p.block_title Материалы
        =image_tag "guaranty_02.jpg"
        %br/
        %br/
        %p
          Развитие текстильных технологий, стремление производителей максимизировать прибыль и все более частые колебания роста цен на натуральные материалы привело к росту числа смесовых, а иногда и полностью синтетических тканей. Не смотря на кажущюся технологичность таких тканей, они более подходят для
          %br/
          пошива Вашей одежды для горных лыж или дайвинга. Для повседневной жизни в городе лучше натурального хлопка, шерсти, льна и шелка пока ничего нет. Серьезные нагрузки на наш организм требуют создания уютных условий для него, ткань должна дышать. А постоянная смена обстановки – офис, автомобиль, аэропорт, самолет, не должна приводить вашу одежду в лоснящуюся скомканную униформу. В этом смысле натуральные материалы не потеряли своей
          %br/
          актуальности и сегодня.
        %p.block_title Персонал
        =image_tag "staff.jpg"
        %br/
        %br/
        %p
          Мы сервисная компания, а в оказании услуг часто нет ничего важнее
          %br/
          человеческого фактора. Именно поэтому мы обращаем много внимания на профессоинализм наших сотрудников. Мы инвестируем значительные средства, как материальные, так и временные в обучение нашего персонала и постоянное совершествование его навыков.
    .dragger_container
      .dragger
