/** font Arial Narrow **/
@font-face {
	font-family: 'Arialn';
	src: font-url('arialn.eot');
	src: local('☺'), font-url('arialn.woff') format('woff'), font-url('arialn.ttf') format('truetype'), font-url('arialn.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** font Rubl  **/
@font-face {
   font-family: "Rubl Sign";
   src: font-url('ruble.eot');
}
   span.rur { font-family: "Rubl Sign"; text-transform: uppercase; float:none!important; display:inline!important;}    
   span.rur span { position: absolute; overflow: hidden; width: .45em; height: 1em; margin: 0.0ex 0 0 -0.65em; }
   span.rur span:before { content: '\2013'; }

/* Default
---------------------------------------- */
html, body {height: 100%; width: 100% }
body, html, p, ul, ol, li, dl, dd, dt, h1, h2, h3, h4, h5, h6, form, fieldset, td, th, caption, address, textarea, legend, blockquote {margin: 0; padding: 0;}
a img, fieldset {border: 0;}
table {border-collapse: collapse;}
td, th {vertical-align: top;}
body {font: 14px/1.2 Arial, serif; color: #333333; overflow:hidden}
input, textarea {font: 14px/1.2 Arial, Georgia, serif; color: #000;}
ul {list-style: none;}
a{color: #7a7d82; text-decoration:none;}
a:hover {color:#000; text-decoration:underline;}
a:active, a:focus {outline: none;}
.clear{overflow:hidden;*zoom:1;clear:both; width:1px; height:1px;}
p{line-height:1.4;}
.hr{border-top:1px #666 dotted; margin:40px 0px 20px;}

/* Main
---------------------------------------- */
.page {min-height: 100%; min-width:1200px; position:relative; visibility: hidden;}


/* Header
---------------------------------------- */
.header_container{height:95px;  background: image-url('header_bg.png') repeat top left; position:relative; -moz-box-shadow: 0px 0px 5px #000; -webkit-box-shadow: 0px 0px 5px #000; box-shadow: 0px 0px 5px #000;}
.header_inner{padding-top: 13px;}
.logo{background: image-url('logo.png') no-repeat top left transparent; width:115px; height:61px; display:block; float:left; margin: 3px 32px 0 40px;}

/* H */
h1, h2, h3, h4, h5, h6, b{color:#000000;}
h1{font: bold 27px Arial, serif; color:#000; text-transform: uppercase; margin-bottom:20px;}
h2{font: 24px Arial, serif;}
h3{font: 18px Arial, serif;}
h4{font: 14px Arial, serif;}
h5{font: 12px Arial, serif;}
h6{font: 10px Arial, serif;}


/* bg fullscreen position */
#bgimg {position:absolute; z-index: -1;} 


/* Navigation
---------------------------------------- */

/* nav_menu */
.nav_menu{height:22px; margin-bottom: 21px;}
.nav_menu li , .auth li, .contacts li{display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline;  height: 18px; border-right:1px #184859 solid; padding-top: 2px;}
.nav_menu a, .auth a, .contacts  a {filter:alpha(opacity=40);-moz-opacity:0.4;opacity: 0.4; font: 14px/1.2 Arialn, Arial, serif; text-transform: uppercase; text-decoration:none; color:#fff; padding: 0 13px 0 8px;}
.nav_menu a:hover , .auth a:hover , .contacts  a:hover{filter: alpha(opacity = 100); -moz-opacity:1; opacity: 1;}
.nav_menu li.current_menu a, .auth li.current_menu a, .contacts li.current_menu a {filter: alpha(opacity = 100);-moz-opacity:1;opacity: 1;}

.administrator .nav_menu li.current_menu a{color:#fff!important;}
/* nav_menu submenu */
.submenu li{border-right:none!important;}
.submenu li a{font-weight:bold;}

/* auth panel */
.account{position: absolute;  top:0px;   right: 0;}
.auth {background: image-url('auth_bg.png') repeat 0px 0px;  min-width:200px; padding-right: 10px;    text-align: right;}
.auth li{height:32px;  padding-top: 15px;}
.active_account, .active_form{background-color:#fff!important; background-image:none!important;}
.active_account a, .active_form a{color:#000; filter:alpha(opacity=100);-moz-opacity:1;opacity: 1;}
/* auth account form */
.auth_form {background: image-url('auth_shadow.png') no-repeat top right #fff; text-align:left; position:absolute; right:0px; padding:11px 15px; z-index:2; top:47px; -moz-box-shadow: 0 5px 7px -5px #535353; -webkit-box-shadow: 0 5px 7px -5px #535353; box-shadow: 0 5px 7px -5px #535353;}
.title, .contacts_info .title {text-transform: uppercase; font-weight:bold; border-bottom:1px #e6e6e6 solid; padding-bottom:7px; cursor:default; color:#000;}

.auth_form label{text-transform: uppercase; font-size:9px; color:#838383; margin-top:8px; display:block;}
.auth_form input{width:210px; border:1px solid transparent; -moz-box-shadow: 0px 3px 5px #bdbdbd inset; -webkit-box-shadow: 0px 3px 5px #bdbdbd inset; box-shadow: 0px 3px 5px #bdbdbd inset; padding:3px 5px; border-top:1px #a5a5a5 solid;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-top:7px; background-color:#e5e5e5;}
.submit_btn{text-align:right; margin:15px 0px 5px;}
.submit_btn a{color:#1c212a!important; display:inline; text-transform: uppercase; font-size:9px; margin-right:20px; color:#838383; margin-top:8px; text-decoration:none; font-family:Arial, serif;} 
.submit_btn a:hover {text-decoration:underline;}
.submit_btn input{background-color:#1c212a; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-transform: uppercase; color:#fff; font-size:13px; width:71px; height:30px; /* padding:0px 0px 2px 0px;*/ cursor:pointer;}
.create_account{background: image-url('create_acc_bg.png') repeat scroll left top transparent;  height: 38px; padding-top:22px;   margin:16px -15px -11px;    position: relative;    width: 250px; text-align:center;  font-family:Arial, serif;}
a.reg{font-size:13px; font-family:Arial, serif; text-transform: uppercase; color:#000; text-decoration:none; background-color:#fff; padding:7px 13px;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; position:absolute; z-index:10; bottom:17px; left:53px;}
.a1{position:relative;}
.a1 a{ filter:alpha(opacity=100);-moz-opacity:1;opacity: 1;}

/* registration account form */
.reg_form {background: image-url('auth_shadow.png') no-repeat top right #fff; text-align:left; padding:10px 24px 20px; z-index:2; -moz-box-shadow: 0 5px 7px -5px #535353; -webkit-box-shadow: 0 5px 7px -5px #535353; box-shadow: 0 5px 7px -5px #535353;}
.title, .contacts_info .title {text-transform: uppercase; font-weight:bold; border-bottom:1px #e6e6e6 solid; padding-bottom:7px; cursor:default; color:#000;}

.reg_form label{text-transform: uppercase; font-size:9px; color:#838383; margin-top:8px; float:left;}
.reg_form input{width:210px; border:1px solid transparent; -moz-box-shadow: 0px 3px 5px #bdbdbd inset; -webkit-box-shadow: 0px 3px 5px #bdbdbd inset; box-shadow: 0px 3px 5px #bdbdbd inset; padding:3px 5px; border-top:1px #a5a5a5 solid;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-top:7px; background-color:#e5e5e5;}
.reg_form .submit_btn input{background-color:#1c212a; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-transform: uppercase; color:#fff; font-size:13px; width:150px; height:30px; /* padding:0px 0px 2px 0px;*/ cursor:pointer;}
.first_reg_label{margin-right:158px;}
.second_reg_label{margin-right:130px;}
.reg_input{margin-right:18px;}
.hidden_shadow{background-image:none!important; box-shadow:none!important;}
/* book form */
.book_form > span{float:left;}
.book_form label{text-transform: uppercase; font-size:9px; color:#838383; margin-top:8px; margin-left: 10px; display:block;}
.book_form input{width:205px; border:none 0px; -moz-box-shadow: 0px 3px 5px #bdbdbd inset; -webkit-box-shadow: 0px 3px 5px #bdbdbd inset; box-shadow: 0px 3px 5px #bdbdbd inset; padding:3px 5px; border-top:1px #a5a5a5 solid;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-top:7px; margin-left: 10px; background-color:#e5e5e5;}
.m_phone input{background-color:#1c212a; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-transform: uppercase; color:#fff; font-size:13px; width:171px; height:30px; /* padding:0px 0px 2px 0px;*/ cursor:pointer;}



/* forgot form */
.forgot {color: #1C212A !important;    display: inline;    font-family: Arial,serif!important;    font-size: 9px!important;    margin-right: 20px;   text-decoration: none;    text-transform: uppercase!important; position:absolute; top:173px; left:35px;}
.forgot:hover {text-decoration:underline;}
.hint{color:#71767f; font-size:12px; margin-top:10px; margin-bottom:20px;}
.sub_hint input{width:100px!important;}






/* error_explanetion */
.error_explanation{margin-bottom:10px;}
.error_explanation ul{ }
.error_explanation li{list-style:none outside none!important; margin-bottom:0px!important; color:#71767F; padding-bottom:5px;}
.error_explanation li p{padding: 5px 0px 0; font:12px Arial, serif;}
.error_explanation li span{color: #CC3333; font-size: 13px;}

.auth_form .error_explanation{margin-bottom:0px;}
.auth_form .error_explanation li {border:0px; padding-top:5px; height:20px;}

.notice_alert {color: white}


/* new collection */
.new_coll{background: image-url('new_coll_bg.png') repeat scroll left top transparent; width:394px; height:119px; padding:20px 22px; position:absolute; bottom:50px; left:90px; text-align:right;}
.new_coll .name{color:#fff; font-size:27px; font-weight:bold; text-transform: uppercase; line-height:1.1;}
.new_coll .name span {font-size:43px; display:block;}
.new_coll a{text-transform: uppercase; font-size:13px; color:#fff; text-decoration:none;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding:7px 33px 6px 13px; margin-right: 3px;
    margin-top: 10px; display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline;background: image-url('arrow.png') no-repeat scroll 112px 8px #1c212a; }
	
/* main_container */
.main_container{background: image-url('main_container_bg.png') repeat scroll left top transparent; width:726px; height:483px; margin:76px 0px 0px 87px; padding:50px 30px 50px 60px;}
/* menu main container */
.menu{left: 130px;    margin-top: 130px;    position: absolute;    width: 180px;    z-index: 2;}
.menu a{display:block; font-family:Arialn, Arial; text-transform: uppercase; text-decoration:none; border-bottom:1px #c8c8c9 solid; padding:9px 0px; margin-right:40px;}	
.menu a.active{color:#000;}
/* main content */
.content{padding-left:33px; padding-right:45px; border-left:1px #c8c8c9 solid; font:12px/1.2 Arial, serif; color:#71767f; width:475px;}
.content p{font-size:12px; line-height:1.3; font-family:Arial, serif; margin-bottom:15px;}
.container {position:relative;}
.content ul{margin-bottom:15px;}

/* Shop
---------------------------------------- */
.left_block, .right_block{display: -moz-inline-stack;display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; }
.left_block{ width:235px; border-right:1px solid #C8C8C9;}
.right_block{width:200px; margin-left:30px;}
.block_title{font: bold 12px Arial,serif!important; color:#000; text-transform: uppercase; margin-bottom:15px;}
.sizing{color:#000; text-decoration:underline;}
.sizing:hover {text-decoration:none;}


/* Profile
---------------------------------------- */
.editor_action {font-size:11px; text-decoration:underline; text-transform:none; font-weight:normal; }
.editor_action:hover {text-decoration:none;}

.profile .block_title{border-bottom:1px solid #C8C8C9; margin-bottom:0px; padding-bottom:17px;}
.profile dl { border-bottom:1px solid #C8C8C9; padding:8px 0px;}
.profile dt, .profile dd {display: -moz-inline-stack; display: inline-block;  vertical-align: middle;  zoom: 1; *display: inline;}
.profile dt{font-size:10px;  text-transform: uppercase; color:#8b8d91; width: 160px;}
.profile dd{font-size:12px;  color:#000;}



/* Sign up for sizing
---------------------------------------- */
.m_title{font: bold 27px Arial, serif; color:#000; text-transform: uppercase; margin-bottom:24px;}
.mw {width:690px; padding:40px 43px;}
.month{text-align:center; border-top:1px #d0d1d2 solid; padding:7px 0px; text-transform: uppercase;}
.clear_container .m_arrow_left, .clear_container .m_arrow_right {width:6px; height:7px; display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; margin-top:2px; position:static;}
.clear_container .m_arrow_left{background: image-url('m_arrow_left.png') no-repeat 0px 1px; margin-right:5px;}
.clear_container .m_arrow_right{background: image-url('m_arrow_right.png') no-repeat 0px 1px; margin-left:5px;}

.m_arrow_left, .m_arrow_right {width:6px; height:7px; display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; margin-top:2px; position:absolute;}
.m_arrow_left{background: image-url('m_arrow_left.png') no-repeat 0px 1px; margin-right:5px; left:305px;}
.m_arrow_right{background: image-url('m_arrow_right.png') no-repeat 0px 1px; margin-left:5px; left:460px;}



.sizing_table{font:10px Arial, serif; color:#8b8d91; }
.sizing_table table{width:100%;}
.sizing_table th{font-weight:normal; padding:9px 2px 9px 10px; text-align:left; border:1px #d0d1d2 solid; text-transform: uppercase; width:42px; line-height:1.1;}
.sizing_table td{border:1px #d0d1d2 solid; padding:7px 0px; line-height:1.1;}
.sizing_table td p{text-transform: uppercase;}
.sizing_table .title{font-size:14px; border-bottom:1px #d0d1d2 solid;}
.m_first{width:105px!important; border-left:0px!important; background-color:transparent!important; background-image:none!important; cursor:default!important;}
.m_last{border-right:none!important;}
.current_day{background: image-url('m_day.png') repeat top left transparent!important; cursor:default!important;}

.sizing_hover {background-color:#000; background-image:none; cursor:pointer;}
.sizing_selected {background-color:#CCC; background-image:none;}
.sizing_active1, .sizing_active2, .sizing_active3, .sizing_active4, .sizing_active5, .sizing_active6, .sizing_active7 {background-color:#000; background-image:none; cursor:pointer;}
.t1, .t2 {padding:0px 20px; display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; margin:10px 0px 20px 0px; font-size:11px;}
.t1{background: image-url('t1.png') no-repeat top left;}
.t2{background: image-url('t2.png') no-repeat top left;}

.times{text-transform: uppercase; font-size:9px; border-bottom:1px #d0d1d2 solid; padding:10px 0px;}
.times span{font-weight:bold; font-size:12px; text-transform:none; color:#000; }
.m_phone {font-size:11px;  margin-top:25px; text-align:right;}
.m_phone  span{font-size:14px; font-weight:bold; color:#000; text-transform: uppercase; margin-right:10px;}
.m_phone a{font-size:13px;  text-transform: uppercase; background-color:#1c212a; padding:6px 11px; moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; color:#fff; margin-left:15px;text-decoration:none }

@mixin m_close {width:15px; height:40px; float:right; margin-left:-2px; margin-top:-8px; padding:0px!important; background: image-url('close_white.png') no-repeat 0px 12px;}
@mixin m_close_black {background: image-url('close.png') no-repeat 0px 12px;}
.m_close{@include m_close;}
.active_account .m_close {@include m_close; @include m_close_black }
.active_form .m_close {@include m_close; @include m_close_black }
.visible{ visibility:visible;}
.m_menu{width: 150px;}
.m_menu a{display:block; font-family:Arialn, Arial; text-transform: uppercase; text-decoration:none; border-bottom:1px #c8c8c9 solid; padding:9px 0px; color:#7A7D82;}	
.m_menu a:hover {color:#000;}
.lm_menu{border:none!important; padding-bottom:0px!important;}

.overflow_auto{overflow:hidden;}


/* admin settings */
h1 a{font:10px Arialn, Arial, serif; margin-left:65px;  margin-top: 8px;    position: absolute;}
.clear_container {margin-left:200px; margin-top: 30px;}
.admin_form input{width:350px; border:none 0px; -moz-box-shadow: 0px 3px 5px #bdbdbd inset; -webkit-box-shadow: 0px 3px 5px #bdbdbd inset; box-shadow: 0px 3px 5px #bdbdbd inset; padding:3px 5px; border-top:1px #a5a5a5 solid;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color:#e5e5e5; font-size:12px;}
input.search-field {color:#71767f;}
input.selected {color:#000}
span.sort{font:10px Arialn, Arial, serif; color:#71767f; text-transform:uppercase; padding-left: 47px; padding-right:5px;}
select:focus {outline:none;}
input[type="text"]:focus { outline: none; }
input[type="password"]:focus { outline: none; }
#cuselFrame-user_sort:focus {outline: none;}


.user_list{margin-left:-10px;}
.sort_link img{margin-left:10px; position:absolute;}
.user_list table { width:920px; color:#8b8d91; font-size:12px;}
.user_list table th{color:#000; text-align:left; padding:15px 0px;}
.user_list table td{padding:2px 0px;}
.active_hover td{background-color:#c6c6c8; cursor:default; color:#000;}
.user_cel{padding-left:10px!important;}
.arrow_cel{padding-right:10px!important; background: image-url('arr.png') no-repeat 0px 2px;}


.first_round { -moz-border-radius: 12px 0px 0px 12px; -webkit-border-radius: 12px 0px 0px 12px; -khtml-border-radius: 12px 0px 0px 12px; border-radius: 12px 0px 0px 12px;}
.last_round {-moz-border-radius: 0px 12px 12px 0px; -webkit-border-radius: 0px 12px 12px 0px; -khtml-border-radius: 0px 12px 12px 0px; border-radius: 0px 12px 12px 0px; background-position:0px -20px;}
/* .user_list table th, .user_list table td, .user_list table{border:1px #000 solid;} */























/* Footer
---------------------------------------- */
.footer{height:47px; width:328px; position:absolute; bottom:0px; right:0px; z-index:1;}
.footer_inner{background: image-url('footer_bg.png') repeat top left; height:47px; width:328px; position:relative; z-index:2;}


/* footer panel */
.footer_inner .contacts {padding-left:15px;}
.contacts li{height:32px;  padding-top: 15px; float:left; border-right:0px none;}
.active_account, .active_form{background-color:#fff;}

.mailer_btn a, .contacts_btn a{padding:0px 13px 0px 13px!important; filter:alpha(opacity=100);-moz-opacity:1;opacity: 1;}
.mailer_btn, .contacts_btn{width:90px; background: image-url('sep.png') no-repeat scroll right 13px transparent; }

/* mailer form */
.mailer_form {background: image-url('footer_shadow.png') no-repeat bottom right #fff; width:245px; position:absolute; right:223px; bottom:47px; padding:11px 15px; z-index:2; -moz-box-shadow: 0 -1px 6px -4px #535353; -webkit-box-shadow: 0 -1px 6px -4px #535353; box-shadow: 0 -1px 6px -4px #535353;}
.mailer_form label{text-transform: uppercase; font-size:9px; color:#838383; margin-top:8px; display:block;}
.mailer_form input{width:235px; border:none 0px; -moz-box-shadow: 0px 3px 5px #bdbdbd inset; -webkit-box-shadow: 0px 3px 5px #bdbdbd inset; box-shadow: 0px 3px 5px #bdbdbd inset; padding:3px 5px; border-top:1px #a5a5a5 solid;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-top:7px; background-color:#e5e5e5;}
.mailer_form  .submit_btn{text-align:left; margin:8px 0px 5px;}
.mailer_form input:disable {}
.mailer_form  .submit_btn a{color:#1c212a!important; margin-right:20px; display:inline; text-transform: uppercase; font-size:9px; color:#838383; margin-top:8px; text-decoration:none;}
.mailer_form  .submit_btn a:hover {text-decoration:underline;}
.mailer_form  .submit_btn input{background-color:#1c212a; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-transform: uppercase; color:#fff; font-size:13px; width:120px; height:30px; /* padding:0px 0px 2px 0px; */ cursor:pointer;}
.subscribe{float:right;}
.non_subscribe {background-color:#9a9b9f!important;}
.sending {color: #71767F;    font: 12px/1.3 Arial,serif;    margin-top: 10px;}


/* contacts form */
.contacts_form {background: image-url('footer_shadow.png') no-repeat bottom right #fff; width:525px; position:absolute; right:133px; bottom:47px; padding:14px 15px; z-index:2; -moz-box-shadow: 0 -1px 6px -4px #535353; -webkit-box-shadow: 0 -1px 6px -4px #535353; box-shadow: 0 -1px 6px -4px #535353;}
.contacts_form img{float:right;}
.contacts_info{width:175px;}
.contacts_info p{margin-top:10px; font: 12px/1.3 Arial,serif; color:#71767F;}
.contacts_info p.title{margin-top:0px; font: bold 14px Arial,serif; }
.contacts_info span{padding-right:20px;}
.contacts_info a{color:#1c212a; text-decoration:underline; margin-left:7px;}
.contacts_info a:hover {text-decoration:none;}




/* Изменение высоты блока с контентом в зависимости от высоты экрана */
@media screen and (max-height: 700px) {
	#mcs3_container{height:47%!important;}
	.overflow_auto{overflow-y:auto; overflow-x:hidden;} /* scroll for fansy calendar */
}

@media screen and (max-height: 600px) {
	#mcs3_container{height:37%!important;}
	
}
@media screen and (max-height: 500px) {
	#mcs3_container{height:35%!important;}
}



/* Задаём мимнимальную ширину в 1200 px и адаптируем под разные высоты*/
@media screen and (max-width: 1200px){
	 #bgimg{width:1200px!important; height:750px!important; left:0px!important; top:0px!important;}
	 .header_container{width:1200px;}
	 body{ overflow-y:hidden; overflow-x:auto;}
	 
}


@media screen and (min-height: 750px) and (max-width: 1200px) {
	 #bgimg{width:1300px!important; height:813px!important; left:-100px!important; top:0px!important;}
}

@media screen and (max-width: 1200px) and (min-height: 800px){
	 #bgimg{width:1350px!important; height:845px!important; left:-150px!important; top:0px!important;}
}


@media screen and (max-width: 1200px) and (min-height: 850px){
	 #bgimg{width:1400px!important; height:876px!important; left:-200px!important; top:0px!important;}
}
@media screen and (max-width: 1200px) and (min-height: 900px){
	 #bgimg{width:1600px!important; height:1001px!important; left:-400px!important; top:0px!important;}
}
/* scroll for fansy calendar */
@media screen and (max-width: 850px){
	.overflow_auto{overflow-y:auto; overflow-x:auto;} 
	 
}


/* Print
---------------------------------------- */
@media print {
	body {color: #000; background: #fff; font: 12pt Georgia, 'Times New Roman', serif;}
	a, a:link, a:visited {color: #000 !important; text-decoration: none !important; font-weight: bold;}
	a:link:after, a:visited:after {content:" [" attr(href) "] "; font-size: 10pt;}
}


/* Admin User
---------------------------------------- */
.u_options{position:relative; z-index:2;}
.u_options a{text-transform: uppercase; color:#8b8d91; text-decoration:none; padding:3px 6px;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; z-index:3; font: 10px/1.2 Arialn, Arial, serif; margin-right:8px;}

.u_options a:hover {background-color:#babbbe; color:#fff;}
.u_options a.u_active_link{background-color:#8b8d91; color:#fff;}

.user_admin dl{font-size:11px; margin-bottom:15px;}
.user_admin dd{color:#1c212a;}

.user_admin dt{width:130px; text-align:right; margin-right:25px; color:#71767f;}
.user_admin dt, .user_admin dd {display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; }

.u_title{font: bold 27px Arial, serif; color:#1c212a; text-transform: uppercase; margin-bottom:20px; display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline;}
.u_subtitle{font: bold 12px Arial, serif; color:#1c212a; text-transform:uppercase; margin-bottom:15px;}
.u_create_profile{height:30px; margin-left:122px;  display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; padding-top:4px;}
.u_create_profile a{text-transform: uppercase; color:#fff; text-decoration:none; padding:5px 12px 5px 20px;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; z-index:3; font: 13px/1.2 Arial, serif; margin-right:8px; background: image-url('plus.png') no-repeat 6px 8px #1c212a; display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; }

.u_table{width:475px;}
.u_table tr{border-top:1px #d0d1d2 solid; border-bottom:1px #d0d1d2 solid; font-size:12px;}
.u_table th{padding:7px 1px; text-align:left; font-weight:normal; font: 10px/1.2 Arialn, Arial, serif; text-transform:uppercase; color:#8b8d91;}
.u_table td{padding:11px 1px; color:#7a7d82;}
a.u_close{ background: image-url('close.png') no-repeat 0px 0px; display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; width:8px; height:8px; margin-top:3px; margin-right:5px;}
.u_size{background: image-url('u_arr.png') no-repeat right 5px; padding-right:10px; color:#1c212a;  display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; line-height:1.4; max-width:170px;}
.u_arr {display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline;}
.u_edit{font-size:11px; color:#7a7d82; text-decoration:underline;}
.u_edit:hover {text-decoration:none;  color:#7a7d82; }
.u_more div{margin-left:85px; border-bottom:1px #d0d1d2 solid; padding:6px 0px}
.u_more span{display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; float:right; width:145px;}
.u_status span{width:84px;}
.u_status .u_size{font:12px Arial, serif; text-transform:uppercase; color:#1c212a; text-decoration:none;}
/* .u_status div{margin-left:102px;} */
.u_price {color:#1c212a; font-weight:bold;}

span.phone {filter:alpha(opacity=100);-moz-opacity:1;opacity: 1; font: 14px/1.2 Arialn, Arial, serif; text-transform: uppercase; text-decoration:none; color:#fff; padding: 0 13px 0 8px; cursor:default;}
/* FAQ */
.hover_list {display:block; border-top:1px #cdcece solid; padding:10px 0px;  background: image-url('h_plus.png') no-repeat 460px 12px; text-transform:uppercase;}
.hover_list:hover {color:#1c212a;text-decoration:none; }
.active_list{background: image-url('h_minus.png') no-repeat 460px 16px; color:#1c212a;}

.hover_content1, .hover_content1, .hover_content1, .hover_content1, .hover_content1, .hover_content1, .hover_content1, .hover_content1, .hover_content1, .hover_content1{width:460px;}

.hover_content1{height:85px;}
.hover_content2{ height:165px;}
.hover_content3{height:70px;}
.hover_content4{height:118px;}
.hover_content5{height:163px;}
.hover_content6{height:385px;}


.circle_one, .circle_two, .circle_three, .circle_four, .circle_five, .circle_six{padding-left:50px; height:35px; line-height:1.4!important;}

.circle_one{background: image-url('circle1.png') no-repeat 0px 0px; margin-top:17px;}
.circle_two{background: image-url('circle2.png') no-repeat 0px 0px;}
.circle_three{background: image-url('circle3.png') no-repeat 0px 0px;}
.circle_four{background: image-url('circle4.png') no-repeat 0px 0px;}
.circle_five{background: image-url('circle5.png') no-repeat 0px 0px;}
.circle_six{background: image-url('circle6.png') no-repeat 0px 0px;}

.hover_content7{height:310px;}
.hover_content7 span, .hover_content8 span, .hover_content9 span, .hover_content10 span{display:block; padding-top:7px;}

.hover_content8{height:205px;}
.hover_content9{height:205px;}
.hover_content10{height:190px;}

.sep{height:5px;}






/* Admin header*/
.administrator{background-image:none; background-color:#babbbe;}
.administrator .nav_menu a{color:#1c212a; filter: alpha(opacity = 100);-moz-opacity:1;opacity: 1;}
.administrator .nav_menu a:hover{color:#fff;}
.administrator .nav_menu li{border-right:none!important;}

.exit_btn{display:none;}




/* shop list */
.shop_list{width:560px; padding:29px 0 23px; border-bottom:1px #d0d1d2 solid;}
.u_subtitle {color: #1C212A;   font: bold 12px Arial,serif;    margin-bottom: 15px;    text-transform: uppercase;}
.shop_list_edit{border:1px #dcddde solid;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; float:right; padding:6px 17px; font-size:11px; width:165px; color:#71767f; line-height:18px;  background: image-url('sl_edit.png') repeat-x 0px 0px; display:block; margin-right:50px;}
.shop_list_edit:hover {background-color:#f1f1f2; background-image:none!important; color:#71767f;  text-decoration:none;}
.sl_descr{color:#71767f; font-size:12px;}
.sl_descr p{margin-bottom:5px;}

.sl_add {display:block; background: image-url('sl_add.png') no-repeat 0px 0px; height: 20px;    padding-left: 45px; padding-top:10px; font-size:12px; color:#1c212a; margin-top:20px;}


/* shop info */
.shop_info{display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; width:635px;}
/* shop input*/
.shop_info dd input{width:320px; border:none 0px; -moz-box-shadow: 0px 3px 5px #bdbdbd inset; -webkit-box-shadow: 0px 3px 5px #bdbdbd inset; box-shadow: 0px 3px 5px #bdbdbd inset; padding:3px 5px; border-top:1px #a5a5a5 solid;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color:#e5e5e5; font-size:12px;}
input.search-field {color:#71767f;}
input.selected {color:#000}
#shop_phone{width:200px;}

/* shop textarea */
.shop_info dd textarea{width:320px; border:none 0px; -moz-box-shadow: 0px 3px 5px #bdbdbd inset; -webkit-box-shadow: 0px 3px 5px #bdbdbd inset; box-shadow: 0px 3px 5px #bdbdbd inset; padding:3px 5px; border-top:1px #a5a5a5 solid;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color:#e5e5e5; font-size:12px;}
textarea.search-field {color:#71767f;}
textarea.selected {color:#000}
#shop_time{width:200px; height:30px;}

.shop_info .u_subtitle{margin-left:150px; margin-bottom:20px;}
.shop_info  dl{margin-bottom:18px;}
.shop_info dt label{color:#71767f; font-size:11px; margin-right:25px;}
.shop_info dt, .shop_info dd {display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline;}
.shop_info dt{width: 135px; text-align:right;}
.shop_info dd{}

/* shop submit */
.shop_info  .submit_btn{text-align:left!important; margin-left:140px; margin-top:30px;}
.shop_info  .submit_btn input{background-color:#1c212a; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-transform: uppercase; color:#fff; font-size:13px; width:120px; height:30px; cursor:pointer;  border:none 0px; moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding-bottom:1px; width:130px; }
.my_shop{ border-top: 1px solid #E6E6E6; margin-top:15px!important; padding-top:15px;}
.my_shop a{margin-left:0px!important;}


/* shop delete btn */
.shop_delete{margin-left:140px; margin-top:30px;}
.shop_delete a{color:#71767f; font-size:11px; display:block; width:130px; background: image-url('sl_del.png') repeat-x 0px 0px; border:1px #dcddde solid;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; height:21px; padding-top:7px; text-align:center;}
.shop_delete a:hover {background-color:#f1f1f2; background-image:none!important; color:#71767f;  text-decoration:none;}

/* shop_calendar */
.shop_calendar {display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; width:220px;}
.shop_calendar  .u_subtitle{margin-left:10px; margin-bottom:25px;}

/* shop_calendar_info */
.shop_calendar_info{margin-left:30px; position: absolute; top: 410px; left: 794px; width: 500px;} /* background: image-url('calendar_bg.png') no-repeat 0px 70px; */
.shop_calendar_info .month {color: #8B8D91; font: 10px Arial,serif; border-top:0px none; margin-top:35px; margin-left:60px; text-align:left; margin-bottom:10px;}
#shop_remove_map{width:15px!important; display:block!important; margin:5px 0px!important; padding:0px!important;}

/* select time */
.select_time{margin-left:25px; margin-bottom:7px;}
.select_time div{display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; color:#8b8d91; font-size:10px;}
.time_client a{text-transform:uppercase; cursor:pointer!important;}
.u_options a.u_active_link{}
.disable a{ background-color:#fff!important; color:#8B8D91!important; cursor:default;}
.disable a.u_active_link{background-color: #8B8D91!important;  color: #FFFFFF!important;}
.select_time a{margin-right:7px;}
.select_time .u_options{margin-right:8px;}
.datatime{margin-right:20px;}

.input_client {margin-top:-4px;}
.input_client input{width:120px; border:none 0px; -moz-box-shadow: 0px 2px 5px #bdbdbd inset; -webkit-box-shadow: 0px 3px 5px #bdbdbd inset; box-shadow: 0px 3px 5px #bdbdbd inset; padding:3px 5px; border-top:1px #a5a5a5 solid;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color:#e5e5e5; font-size:10px}
.input_client a{background-color: #1c212a;  color: #FFFFFF; text-transform: uppercase; text-decoration:none; padding:3px 6px;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; z-index:3; font: 10px/1.2 Arialn, Arial, serif; margin-left:7px;}

.hide_input .input_client{display:none;}


/* FORM ERRORS*/
.r_error{border:1px #b90000 solid!important;}
.error{color:#b90000; font-size:9px; text-transform:uppercase; margin-top: 6px;    position: absolute;}
.reg_error{color:#b90000; font-size:9px; text-transform:none; margin-top: 6px;}
.all_reg_errors{position:absolute;}




/* BUY ONLINE PAGE */


/* Выбор ткани */


.buy_online{margin:85px 87px 0px 87px;}
.buy_online table{width:80%; border-collapse: inherit; vertical-align:middle;}
.buy_online table a{}


/*.suit, .coat, .pants, .shirts, .overcoat, .accessories{display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline;} */
.suit img, .coat img, .pants img, .shirts img, .overcoat img, .accessories img{width:100%; vertical-align:middle;}

/* костюм */

.suit{}

/* пиджак */
.coat, .suit{width:25%;}
.coat a{}

/* брюки */
.pants{}

/* сорочки */
.shirts{}

/* пальто */
.overcoat{}

/* аксессуары */
.accessories{}



/* Адаптивный контент на странице купить онлайн */
@media screen and (max-width: 1400px) {
	.full_window {width:990px!important;}
	.full_window .customScrollBox .content{width:705px;} 
}

@media screen and (min-width: 1401px) and (max-width: 1579px) {
	.full_window {width:1260px!important;}
	.full_window .customScrollBox .content{width:980px;} 
}

@media screen and (min-width: 1580px) and (max-width: 1680px) {
	.full_window {width:1435px!important;}
	.full_window .customScrollBox .content{width:1160px;} 
}


@media screen and (min-width: 1681px) {
	.full_window {width:1435px!important;}
	.full_window .customScrollBox .content{width:1160px;} 
}

/* full size mcs3_container
.full_container{width:86%!important;}
.full_container .customScrollBox .container{float:none!important; width:auto!important;}
.full_container .customScrollBox .content{width:74%!important;}
.full_container .hover_list{background-position:right 12px!important;}

 */





/* FULL SIZE */
.full_window {background: image-url('white_img.jpg') repeat top left!important;}
.full_window .hover_list{background-position:right 12px!important;}
.sort_by{margin-bottom:15px;}
.sort_by span{font:10px Arialn, Arial, serif; color:#71767f; text-transform:uppercase; padding-right:5px; display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; }

.sort_options{display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline;}
.sort_options a{text-transform: uppercase; color:#8b8d91; text-decoration:none; padding:3px 6px;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; z-index:3; font: 10px/1.2 Arialn, Arial, serif; margin-right:8px;}

.sort_options a:hover {background-color:#babbbe; color:#fff;}
.sort_options a.u_active_link{background-color:#8b8d91; color:#fff;}


/* Раскрывающее меню дизайна костюма брюк и т.д.*/
.menu_design{ display: block; margin-right: 20px;  font-family: Arial, serif; font-weight:bold;  padding: 9px 0;    text-decoration: none;    text-transform: uppercase; color:#000; font-size:13px;}
.submenu_design{margin-left:7px; border-top: 1px solid #C8C8C9;   font-family: Arialn,Arial;   padding: 9px 0;     text-transform: uppercase; color:#000; margin-right: 20px;}
.submenu_design a{color:#000; border-bottom:0px none; margin:0px; padding:0px;}

.submenu_design span{font-family: Arial, Tahoma, serif; font-size:11px; color:#8b8d91; display:block; margin:5px 0px;}
.submenu_d_img{display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; border:2px #d3d5d6 solid; margin-bottom:5px;}
.active_d{border:2px #000 solid;}
.submenu_d {display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; width:70px; margin-left: 5px;}
.submenu_d p{font-size:13px;}
.submenu_d_price{font-weight:bold;}
.submenu_d_price span{color:#000; display:inline!important;}
.submenu_d_price span.rur span {margin:0.40em 0 0 -0.65em;}




/* Список продуктов ткани и т.д. */
.product{float:left; padding:0 17px 0px 0; margin-bottom:15px; border-bottom: 1px solid #C8C8C9; position:relative;}
.product_name{color:#000; margin:5px 0px!important;}
.product_price{color:#000; font-weight:bold; margin:0px 0px 5px 0px!important;}
.product_price span{color:#000; display:inline!important;}
.product_price span.rur span {margin:0.30em 0 0 -0.65em;}
.fix_width{width:auto!important;}


.product_hover{position:absolute; width:620px; background-color: #FFFFFF; padding:25px; -moz-box-shadow: 0px 0px 5px #8e8d8d; -webkit-box-shadow: 0px 0px 5px #8e8d8d; box-shadow: 0px 0px 5px #8e8d8d; z-index:2; top:115px;}
.product_hover a{display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; width:400px; }
.product_description{display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline;  width:200px; }
.product_img{padding:2px; border:1px transparent solid; cursor:pointer;}

.product_desc_name{font-size:14px; text-transform:uppercase; font-weight:bold; color:#000;}
.product_desc{border-top:1px solid #C8C8C9; border-bottom: 1px solid #C8C8C9; padding-top:10px;}
.product_desc .dl{font-size:12px; display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; width:80px; margin-left: 5px;}
.product_desc .dr{color:#71767f;display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; width:70px;}
.product_desc_price{font-size:16px!important; font-weight:bold; color:#000; float:left; margin-top:5px;}


.product_hover .submit_btn > a {margin:1px; padding: 6px 8px; moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border:0px none; width:auto !important; float:right; background-color:#1c212a; color:#fff !important; font-size:13px;}
.pro_active{border:1px #000 solid;}

/* Конструкторы */
.rub {font-family: 'PT Sans', serif!important;}
.step_done{background: image-url('step_done.png') no-repeat top right; color:#7a7d82!important;}
.ttnone{text-transform:none;}
.ttnone span{margin:0px;}
.ttnone p{margin:10px 0px; font-size:12px; color:#1c212a;}

.options_table{width:100%;}
.options_item{margin-bottom:10px; position:relative;}
.options_item p{font-size:11px; margin-bottom:5px; width:150px;}
.options_item select{width:130px!important;}
.options_item .sort_link img{margin-top:5px;}
.options_item input{width:121px; border:none 0px; -moz-box-shadow: 0px 3px 5px #bdbdbd inset; -webkit-box-shadow: 0px 3px 5px #bdbdbd inset; box-shadow: 0px 3px 5px #bdbdbd inset; padding:3px 5px; border-top:1px #a5a5a5 solid;  moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color:#e5e5e5; font-size:12px;}

.main_options{margin-right:50px;}
.main_options, .decor_options{width:170px; float:left;}
.decor_options img{display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; margin-bottom:5px;}

.submenu_decor {display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; width:70px; margin-left: 5px; color:#1c212a;}

.submenu_decor p{font-size:11px; text-transform:uppercase;}
.submenu_decor a{display:block; color:#1c212a; text-decoration:none;}
.submenu_decor a:hover {text-decoration:underline;}
.sort_link2 img{position:absolute; right:0px;}


#change_decor{padding:10px;}
#change_decor .title{border-bottom:0px none; margin-bottom:20px;}
.change_decor_item div{ display: -moz-inline-stack; display: inline-block;  vertical-align: top;  zoom: 1; *display: inline; width:110px; position:relative; margin-right:10px;}
.change_decor_item img{border:1px #d3d5d6 solid;}
.change_decor_item .chnull{color:#d3d5d6; text-align:center; width:110px; height:100px;border:1px #d3d5d6 solid; display:block;}
.chnull p{padding-top:40px; text-transform:uppercase;}
.change_decor_item a:hover {text-decoration:none;}
.change_decor_item a{margin-bottom:7px; display:block;}
.change_decor_item label{font-size:11px; color:#1c212a; text-transform:uppercase; display:block;}
.change_decor_item input {float:left; margin:1px 7px 10px 0px;}
.nomargin{margin-right:0px!important;}

.submit_change{display:block!important; width:auto!important; text-align:right; margin-top:15px;}
.submit_change input{background-color:#1c212a; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; text-transform: uppercase; color:#fff; font-size:13px; height:30px; cursor:pointer;  border:0px none; float:right; moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; width:auto!important; margin-right:-12px; }



.blank_suit {background: image-url('buy/suit/default.png') no-repeat 0px 0px; width:400px; height:538px; margin-right:50px; position:relative;} 
.blank_suit div{position:absolute; top:0px; width:400px; height:538px;}
/* пуговицы */
.suit_button1{background: image-url('buy/suit/button1.png') no-repeat 0px 0px; }
.suit_button2{background: image-url('buy/suit/button2.png') no-repeat 0px 0px; }
.suit_button3{background: image-url('buy/suit/button3.png') no-repeat 0px 0px; }
/* ширина и форма лацкана */
.suit_fason21_pila_classic{background: image-url('buy/suit/suit_fason21_pila_classic.png') no-repeat 0px 0px;}
.suit_fason21_pila_narrow{background: image-url('buy/suit/suit_fason21_pila_narrow.png') no-repeat 0px 0px;}
.suit_fason21_piko_classic{background: image-url('buy/suit/suit_fason21_piko_classic.png') no-repeat 0px 0px;}
.suit_fason21_piko_narrow{background: image-url('buy/suit/suit_fason21_piko_narrow.png') no-repeat 0px 0px;}
.suit_fason3_pila_classic{background: image-url('buy/suit/suit_fason3_pila_classic.png') no-repeat 0px 0px;}
.suit_fason3_pila_narrow{background: image-url('buy/suit/suit_fason3_pila_narrow.png') no-repeat 0px 0px;}
.suit_fason3_piko_classic{background: image-url('buy/suit/suit_fason3_piko_classic.png') no-repeat 0px 0px;}
.suit_fason3_piko_narrow{background: image-url('buy/suit/suit_fason3_piko_narrow.png') no-repeat 0px 0px;}

