<p>Добро пожаловать, <%= @resource.email %>!</p>

<p>Вы можете подтвердить вашу регистрацию перейдя по следующей ссылке:</p>
<% url = confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
<p><%= link_to url, url %></p>

