<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Был сделан запрос на смену пароля для вашего аккаунта, для смены пароля нажмите следующую ссылку:</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы не делали подобного запроса или передумали менять пароль, просто проигнорируйте данное письмо.</p>
