-users.each do |user|
  %tr{"data-href" => "#{admin_user_path(user)}" }
    %td.user_cel= user.fio
    %td{:style => 'color: rgb(0,0,0)'}= user.email
    %td Заказов: 0
    %td На сумму: 1 145 084
    %td Визитов: 84
    %td Последний: 12.04.2012
    %td.arrow_cel
    -#%td<= link_to 'Edit', edit_admin_user_path(user)
    -#%td<= link_to 'Destroy', admin_user_path(user), confirm: 'Are you sure?', method: :delete
