=content_for :head do
  :javascript
    function scroll_load() {
      $('#o').val( $('.user_list tbody tr').length )
      $('#search_form').submit()
    }
    function complete_field(f) {
      var text = f.val()
      $('.user_list tbody').html('')
      if(text.length > 1) {
        $('#search_form').submit()
      }
    }
    $(function() {
      $('#user_search').keydown(function(e) {
        switch(e.keyCode) {
          case 13: //return
          case 27: // escape
            e.preventDefault()
        }
      }).keyup(function(e) {
        switch(e.keyCode) {
          case 35: // end
          case 36: // home
          case 16: // shift
          case 17: // ctrl
          case 18: // alt
          case 37: // left
          case 39: // right
            break
          default:
            complete_field($(this))
        }
      }).focus()
      $('#search_form').on('ajax:success', function (xhr, data) {
        $('.user_list tbody').html( $('.user_list tbody').html() + data )
      })
      $('#user_sort').on('change', function() {
        $('.user_list tbody').html('')
        scroll_load()
      })
      $('.sort_link').on('click', function() {
        $('#sort_desc').val( $('#sort_desc').val() == '0' ? '1' : '0' )
        $('.user_list tbody').html('')
        scroll_load()
        return false
      })
      $(window).scroll(function() {
        if($(window).scrollTop() == $(document).height() - $(window).height()) {
          scroll_load()
        }
      })
    })
-#= link_to 'Добавить пользователя', new_admin_user_path

%h1
  Поиск Пользователей
  -unless params[:all]
    %a{:href => "#{admin_users_path(:all => true)}"} Показать всех &nbsp;&nbsp;( #{User.count} )
/ // admin page
.admin_form
  =form_tag admin_users_path, :method => :get, :id => 'search_form', :remote => true do
    -unless params[:all]
      =text_field_tag :q, nil,
        :class => 'search-field',
        :id => 'user_search',
        :value => "Начните вводить имя или e-mail пользователя",
        :onblur => "if (this.value=='') {this.value='Начните вводить имя или e-mail пользователя'; this.className='search-field';}",
        :onfocus => "if (this.value=='Начните вводить имя или e-mail пользователя') {this.value=''; this.className='selected'}",
        :autocomplete => 'off'
    -else
      %span.sort Сортировать по:
      .lineForm3
        =hidden_field_tag :l, @default_limit
        =hidden_field_tag :o, 0
        =hidden_field_tag :sort_desc, 0
        %select#user_sort{:tabindex => "2", :name => 'user_sort' }
          %option{:value => ""} -
          %option{:value => "fio"} ФИО
          %option{:value => "email"} E-mail
      %a.sort_link{:href => "#"}
        =image_tag "sort_icon.png"
.user_list
  %table
    %thead
      %tr
        %th
          %th{:style => 'text-transform:uppercase'}
        %th
        %th
        %th
        %th
        %th
    %tbody
      =render :partial => 'admin/users/searchresults', :locals => { :users => @users }
  -#%div
    %small
      Всего найдено пользователей: #{users.size}
