%h1= @user.fio
.u_options
  %a.u_active_link.field1{:href => "#"} Информация
  %a.field2{:href => "#"} Размеры
  %a.field3{:href => "#"} Заказы
/ // CONTENT
.user_admin
  .customScrollBox
    #field1
      %dl
        %dt Ф.И.О.
        %dd= @user.fio
      %dl
        %dt Электронная почта
        %dd= @user.email
      %dl
        %dt Телефон
        %dd= @user.phone
      -#
        %dl
          %dt Карта клиента №
          %dd 1375 737
        %dl
          %dt Баллы программы
          %dd 5760
        %dl
          %dt Программа лояльности
          %dd Статус 1
        %dl
          %dt Статус в рассылке
          %dd Активен
        %dl
          %dt Профили в соцсетях
          %dd
            %img{:alt => "", :src => "fb.png"}/
        %dl
          %dt Комментарии
          %dd Нет
        %dl
          %dt Визитов
          %dd 45
        %dl
          %dt Последний визит
          %dd 12.09.2011
    #field2{:style => "display:none;"}
      .u_title размеры
      .u_create_profile
        %a{:href => "#"} создать новый профайл
      %table.u_table
        %thead
          %tr
            %th профайл
            %th создан
            %th Статус
            %th
        %tbody
          %tr
            %td
              %a.u_close{:href => "#"}
              %a.u_size{:href => "#"} Размеры для рубашки
            %td 21.10.2011
            %td Неактивный
            %td
              %a{:href => "#"} изменить
          %tr.hidden{:style => "display:none;"}
            %td{:colspan => "4"}
              .u_more
                %div
                  Обхват шеи
                  %span 23 см
                %div
                  Обхват груди
                  %span 112 см
                %div
                  Обхват талии
                  %span 76 см
                %div
                  Обхват бедер
                  %span 87 см
                %div
                  Ширина спины
                  %span 50 см
                %div
                  Длина спины до талии
                  %span 98 см
                %div
                  Ширина плеча
                  %span 43 см
                %div
                  Длина рукава
                  %span 65 см
                %div
                  Обхват запястья
                  %span 15 см
          %tr
            %td
              %a.u_close{:href => "#"}
              %a.u_size{:href => "#"} Размеры для костюма, брюк, пальто и пиджака
            %td 21.10.2011
            %td Неактивный
            %td
              %a{:href => "#"} изменить
          %tr.hidden{:style => "display:none;"}
            %td{:colspan => "4"}
              .u_more
                %div
                  Обхват шеи
                  %span 23 см
                %div
                  Обхват груди
                  %span 112 см
                %div
                  Обхват талии
                  %span 76 см
                %div
                  Обхват бедер
                  %span 87 см
                %div
                  Ширина спины
                  %span 50 см
                %div
                  Длина спины до талии
                  %span 98 см
                %div
                  Ширина плеча
                  %span 43 см
                %div
                  Длина рукава
                  %span 65 см
                %div
                  Обхват запястья
                  %span 15 см
          %tr
            %td
              %a.u_close{:href => "#"}
              %a.u_size{:href => "#"} Размеры для рубашки
            %td 21.10.2011
            %td Неактивный
            %td
              %a{:href => "#"} изменить
          %tr.hidden{:style => "display:none;"}
            %td{:colspan => "4"}
              .u_more
                %div
                  Обхват шеи
                  %span 23 см
                %div
                  Обхват груди
                  %span 112 см
                %div
                  Обхват талии
                  %span 76 см
                %div
                  Обхват бедер
                  %span 87 см
                %div
                  Ширина спины
                  %span 50 см
                %div
                  Длина спины до талии
                  %span 98 см
                %div
                  Ширина плеча
                  %span 43 см
                %div
                  Длина рукава
                  %span 65 см
                %div
                  Обхват запястья
                  %span 15 см
          %tr
            %td
              %a.u_close{:href => "#"}
              %a.u_size{:href => "#"} Размеры для костюма, брюк, пальто и пиджака
            %td 21.10.2011
            %td Неактивный
            %td
              %a{:href => "#"} изменить
          %tr.hidden{:style => "display:none;"}
            %td{:colspan => "4"}
              .u_more.u_status
                %div
                  Обхват шеи
                  %span 23 см
                %div
                  Обхват груди
                  %span 112 см
                %div
                  Обхват талии
                  %span 76 см
                %div
                  Обхват бедер
                  %span 87 см
                %div
                  Ширина спины
                  %span 50 см
                %div
                  Длина спины до талии
                  %span 98 см
                %div
                  Ширина плеча
                  %span 43 см
                %div
                  Длина рукава
                  %span 65 см
                %div
                  Обхват запястья
                  %span 15 см
    #field3{:style => "display:none;"}
      .u_title история и статус заказов
      .u_subtitle заказы в работе
      %table.u_table.zakaz
        %thead
          %tr
            %th № Заказа
            %th дата заказа
            %th Предполагаемая дата доставки
            %th сумма
        %tbody
          %tr
            %td
              %a.u_size{:href => "#"} 10000770
            %td 05.11.2011
            %td 13.01.2012
            %td
              %span.u_price
                189 000
                %span.rur
                  p
                  %span уб.
          %tr.hidden{:style => "display:none;"}
            %td{:colspan => "4"}
              .u_more.u_status
                %div
                  %img{:src => "#{asset_path('u_img1.jpg')}"}
                  %a.u_size{:href => "#"} Пиджак
                  %span.u_price
                    189 000
                    %span.rur
                      p
                      %span уб.
              .u_more.u_status
                %div
                  %img{:src => "#{asset_path('u_img2.jpg')}"}
                  %a.u_size{:href => "#"} Брюки
                  %span.u_price
                    189 000
                    %span.rur
                      p
                      %span уб.
              .u_more.u_status
                %div
                  %img{:src => "#{asset_path('u_img3.jpg')}"}
                  %a.u_size{:href => "#"} Ремень
                  %span.u_price
                    189 000
                    %span.rur
                      p
                      %span уб.
                %tr
            %td
              %a.u_size{:href => "#"} 10000770
            %td 05.11.2011
            %td 13.01.2012
            %td
              %span.u_price
                189 000
                %span.rur
                  p
                  %span уб.
          %tr.hidden{:style => "display:none;"}
            %td{:colspan => "4"}
              .u_more.u_status
                %div
                  %img{:src => "#{asset_path('u_img1.jpg')}"}
                  %a.u_size{:href => "#"} Пиджак
                  %span.u_price
                    189 000
                    %span.rur
                      p
                      %span уб.
              .u_more.u_status
                %div
                  %img{:src => "#{asset_path('u_img2.jpg')}"}
                  %a.u_size{:href => "#"} Брюки
                  %span.u_price
                    189 000
                    %span.rur
                      p
                      %span уб.
              .u_more.u_status
                %div
                  %img{:src => "#{asset_path('u_img3.jpg')}"}
                  %a.u_size{:href => "#"} Ремень
                  %span.u_price
                    189 000
                    %span.rur
                      p
                      %span уб.
      %br
      .u_subtitle закрытые заказы
      %table.u_table.reviews
        %thead
          %tr
            %th № Заказа
            %th дата заказа
            %th дата доставки
            %th отзыв
            %th сумма
        %tbody
          %tr
            %td
              %a.u_size{:href => "#"} 10000770
            %td 05.11.2011
            %td 13.01.2012
            %td отзыв
            %td
              %span.u_price
                189 000
                %span.rur
                  p
                  %span уб.
          %tr.hidden{:style => "display:none;"}
            %td{:colspan => "5"}
              .u_more.u_status
                %div
                  %img{:src => "#{asset_path('u_img1.jpg')}"}
                  %a.u_size{:href => "#"} Пиджак
                  %span.u_price
                    189 000
                    %span.rur
                      p
                      %span уб.
              .u_more.u_status
                %div
                  %img{:src => "#{asset_path('u_img2.jpg')}"}
                  %a.u_size{:href => "#"} Брюки
                  %span.u_price
                    189 000
                    %span.rur
                      p
                      %span уб.
              .u_more.u_status
                %div
                  %img{:src => "#{asset_path('u_img3.jpg')}"}
                  %a.u_size{:href => "#"} Ремень
                  %span.u_price
                    189 000
                    %span.rur
                      p
                      %span уб.
                %tr
            %td
              %a.u_size{:href => "#"} 10000770
            %td 05.11.2011
            %td 13.01.2012
            %td
              %img{:src => "#{asset_path('black_star.png')}"}
              %img{:src => "#{asset_path('black_star.png')}"}
              %img{:src => "#{asset_path('black_star.png')}"}
              %img{:src => "#{asset_path('black_star.png')}"}
              %img{:src => "#{asset_path('grey_star.png')}"}
            %td
              %span.u_price
                189 000
                %span.rur
                  p
                  %span уб.
          %tr.hidden{:style => "display:none;"}
            %td{:colspan => "5"}
              .u_more.u_status
                %div
                  %img{:src => "#{asset_path('u_img1.jpg')}"}
                  %a.u_size{:href => "#"} Пиджак
                  %span.u_price
                    189 000
                    %span.rur
                      p
                      %span уб.
              .u_more.u_status
                %div
                  %img{:src => "#{asset_path('u_img2.jpg')}"}
                  %a.u_size{:href => "#"} Брюки
                  %span.u_price
                    189 000
                    %span.rur
                      p
                      %span уб.
              .u_more.u_status
                %div
                  %img{:src => "#{asset_path('u_img3.jpg')}"}
                  %a.u_size{:href => "#"} Ремень
                  %span.u_price
                    189 000
                    %span.rur
                      p
                      %span уб.




