-content_for :bg_slide do
  %img#bgimg{:alt => "", :src => "#{asset_path('slides/slide4.jpg')}"}/
.menu
  %a.active{:href => "#"} наша история
  %a{:href => "#"} наши ценности
  %a{:href => "#"} философия
#mcs3_container
  .customScrollBox
    .container
      / content block
      .content
        %h1 о компании
        =image_tag "img1.jpg"
        %br/
        %br/
        %p Наша компания основана в 2011 году двумя выходцами из Стратегического консалтинга.
        %p Увидев все более явно формирующуюся рыночную нишу на Российском рынке классической мужской одежды, мы решили выстроить свой сервис по пошиву недорогой кастомизированной одежды для мужчин.
        %p Чтобы наш сервис оказался успешным мы пострались взять лучшее от западных аналогов и добавить понимание российской специфики. При этом постоянно модифицируя и подстраивая его под нужды нашей целевой аудитории.
        %p
          Выстраивая компанию мы решили опираться на следующие  основными ценностями
        %ul{ :style => 'list-style: disc; list-style-position: inside' }
          %li Высокое качество
          %li Идеальный стиль
          %li Удобство и комфорт
        %p Все это при оптимальном соотношении value for money
    .dragger_container
      .dragger
