!!!
%html{:lang => "ru", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=7", "http-equiv" => "X-UA-Compatible"}/
    %title BOND&amp;STINSON
    = stylesheet_link_tag    "application", :media => "all"
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"}
    = javascript_include_tag "application"
    /[if lte IE 7.0]
      <link href="#{asset_path('ie.css')}" rel="stylesheet" type="text/css" />
    /[if lt IE 7.0]
      <script src="#{asset_path('DD_belatedPNG_0.0.8a.js')}" type="text/javascript"></script>
      <script type="text/javascript">
      DD_belatedPNG.fix('img, .logo, .new_coll, .new_coll a');
      </script>
    %noscript
      :css
        #mcs3_container .customScrollBox{overflow:auto;}
        #mcs3_container .dragger_container{display:none;}
    = yield :head
  %body
    /
      <img src="slides/slide3.jpg" alt="" id="bgimg">
    / // PAGE
    .page
      / // HEADER
      .header_container.administrator
        .header_inner
          %a.logo{:href => "#", :title => "BOND&amp;STINSON"}
          / tools
          / menu
          - c = controller.controller_name
          %ul.nav_menu
            %li{ :class => "users".eql?(c) ? 'current_menu' : '' }
              %a{:href => admin_users_path} пользователи
            %li{ :class => "shops".eql?(c) ? 'current_menu' : '' }
              %a{:href => admin_shops_path} магазины
            %li{ :class => ["fabrics"].include?(c) ? 'current_menu' : '' }
              %a{:href => admin_fabrics_path} ткани
            %li{ :class => "accessories".eql?(c) ? 'current_menu' : '' }
              %a{:href => admin_accessories_path} аксессуары
            %li{ :class => "articles".eql?(c) ? 'current_menu' : '' }
              %a{:href => admin_articles_path} тексты
          -if ["fabrics"].include?(c)
            %ul.nav_menu.submenu
              %li{ :class => params[:kind].nil? && params[:element].nil? ? 'current_menu' : '' }
                %a{:href => admin_fabrics_path} Все
              %li{ :class => params[:kind].nil? && params[:element] == 'cloth' ? 'current_menu' : '' }
                %a{:href => admin_fabrics_path(:element => :cloth)} Основные
              %li{ :class => params[:kind].nil? && params[:element] == 'lining' ? 'current_menu' : '' }
                %a{:href => admin_fabrics_path(:element => :lining)} Подкладки
              %li{ :class => params[:kind] == 'shirt' ? 'current_menu' : '' }
                %a{:href => admin_fabrics_path(:kind => :shirt)} Рубашки
              %li{ :class => params[:kind] == 'coat' && params[:element] == 'cloth' ? 'current_menu' : '' }
                %a{:href => admin_fabrics_path(:kind => :coat, :element => :cloth)} Основные пальто
              %li{ :class => params[:kind] == 'coat' && params[:element] == 'lining' ? 'current_menu' : '' }
                %a{:href => admin_fabrics_path(:kind => :coat, :element => :lining)} Подкладки пальто
          %span{:style => "color: white"}
            =notice
            =alert
      / HEADER //
      .clear_container
        = yield
