!!!
%html{:lang => "ru", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=7", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "SKYPE_TOOLBAR_PARSER_COMPATIBLE", "name" => "SKYPE_TOOLBAR"}/

    %title BOND &amp; STINSON
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application", :media => "all"
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"}
    = javascript_include_tag "application"
    /[if lte IE 7.0]
      <link href="#{asset_path('ie.css')}" rel="stylesheet" type="text/css" />
    /[if lt IE 7.0]
      <script src="#{asset_path('DD_belatedPNG_0.0.8a.js')}" type="text/javascript"></script>
      <script type="text/javascript">
      DD_belatedPNG.fix('img, .logo, .new_coll, .new_coll a');
      </script>
    -if flash[:confirmed]
      :javascript
          $(document).ready(function() {
            $('#welcome').fancybox().trigger('click');
          });
    %noscript
      :css
        #mcs3_container .customScrollBox{overflow:auto;}
        #mcs3_container .dragger_container{display:none;}
  %body
    .page
      = yield
